
{% set bps = [
  {name:"lg", value:""},
  {name:"md", value:""},
  {name:"sm", value:""},
  {name:"xs", value:""}
]%}

<h1 class="sg-h1">Breakpoints</h1>
<p class="sg-text">Pour ajouter un breakpoint à une classe utilitaire il suffit d'y ajouter le suffix suivant <code>@{bp}</code> ce qui nous donne : <code>u-ma-classe-utilitaire@{bp}</code>.</p>
<p class="sg-warning">Attention, pour des raisons de performance CSS les classes utilitaires responsive sont à activer aux besoins !</p>

<h3 class="sg-h3">Breakpoints disponible :</h3>
<p class="sg-text">Remplacer <code>{bp}</code> par les breakpoints suivants : </p>

<ul class="sg-list sg-list--border sg-list--bp">
  {% for bp in bps  %}
    <li class="sg-bp--{{bp.name}}"><span><code>{{bp.name}}</code> :</span></li>
  {% endfor %}
</ul>

<h3 class="sg-h3">Exemple avec du padding :</h3>
<div class="sg-columns sg-columns--bordered">
  <div class="sg-box--border u-p-20 u-p-0@lg u-p-20@md u-p-0@sm">
    <span class="u-none@lg">u-p-20</span>
    <span class="u-none u-block@lg u-none@md">u-p-0@lg</span>
    <span class="u-none u-block@md u-none@sm">u-p-20@md</span>
    <span class="u-none u-block@sm">u-p-0@sm</span>
  </div>
</div>

<h2 class="sg-h2">Utilisation en scss :</h2>
<p class="sg-text">
  Pour utiliser les breakpoints en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>bp({size})</code> avec le mixins <code>mq()</code>.
</p>


<h1 class="sg-h1">Mixin @include mq()</h1>
<p class="sg-text">A utiliser en <code>scss</code>.</p>

<h3 class="sg-h3">A quoi ça sert ?</h3>
<p class="sg-text">Gestion du responsive via <code>@media</code> en css.</p>

<h3 class="sg-h3">Comment l'utiliser ?</h3>
<p class="sg-text"><code>@include mq(MAX, MIN) {...}</code></p>
<ul class="sg-text">
  <li><code>@include mq(50rem)</code> = <code>@media (max-width: 50rem)</code></li>
  <li><code>@include mq(0, 50rem)</code> = <code>@media (min-width: 50rem)</code></li>
  <li><code>@include mq(50rem, 32rem)</code> = <code>@media (min-width: 32rem) and (max-width: 50rem)</code></li>
</ul>

<h3 class="sg-h3">Exemple</h3>
<code class="sg-code">
  .component { <br>
  &nbsp;&nbsp;max-width: 5rem;<br>
  &nbsp;&nbsp;@include mq(50rem){<br>
  &nbsp;&nbsp;&nbsp;&nbsp;max-width: 2rem;<br>
  &nbsp;&nbsp;}<br>
  }
</code>

<h3 class="sg-h3">L'utiliser avec la fonction bp({size})</h3>
<p class="sg-text"><code>@include mq(bp(sm))</code> = <code>@media (max-width: 768px)</code></p>
<code class="sg-code">
  .component { <br>
  &nbsp;&nbsp;max-width: 5rem;<br>
  &nbsp;&nbsp;@include mq(bp(sm)){<br>
  &nbsp;&nbsp;&nbsp;&nbsp;max-width: 2rem;<br>
  &nbsp;&nbsp;}<br>
  }
</code>


