/*
* Variables concernant les fonts
* > utilisation : font($key)
*/

$arial     : Arial, sans-serif;
$verdana   : Verdana, Geneva, sans-serif;

// font-family
$font-families: (
  "primary"   : $arial,
  "secondary" : $verdana
);

@function font($key) {
  @if map-has-key($font-families, $key) {
    @return map-get($font-families, $key);
  }
  @warn "Unknown `#{$key}` in $font-families.";
  @return null;
}

