<h2 class="sg-h2">font-family</h2>
<p class="sg-text">
  Pour utiliser une <code>font-family</code> sur un élement il suffit d'y ajouter la classe suivante : <code>u-font-{font}</code>.
</p>

<h3 class="sg-h3">Font disponibles :</h3>
<p class="sg-text">Remplacer <code>{font}</code> par les valeurs suivantes : </p>

<ul class="sg-list sg-list--font">
  {% for font in fonts  %}
    <li class="sg-font--{{font}}"><span><code>{{font}}</code> :</span></li>
  {% endfor %}
</ul>

<h3 class="sg-h3">Exemple :</h3>
<div class="sg-columns sg-columns--bordered">
  {% for font in fonts  %}
    <div class="u-p-sm u-font-{{font}} sg-font--{{font}}"><span>Hello</span></div>
  {% endfor %}
</div>

<h2 class="sg-h2">font-size</h2>
<p class="sg-text">
  Pour régler la <code>font-size</code> sur un élement il suffit d'y ajouter la classe suivante : <code>u-font-{size}</code>. <br>
  Remplacer <code>{size}</code> par les valeurs disponibles :
</p>
<ul class="sg-list sg-list--border">
  {% for size in sizes  %}
    <li><code>{{size}}</code></li>
  {% endfor %}
</ul>

<h2 class="sg-h2">font-weight</h2>
<p class="sg-text">
  Pour régler la <code>font-size</code> sur un élement il suffit d'y ajouter la classe suivante : <code>u-font-{weight}</code>. <br>
  Remplacer <code>{weight}</code> Les valeurs disponibles :
</p>
<ul class="sg-list sg-list--border">
  {% for weight in weights  %}
    <li><code>{{weight}}</code></li>
  {% endfor %}
</ul>

<h2 class="sg-h2">Utilisation en scss :</h2>
<p class="sg-text">Pour ajouter une font-family à un élement en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>font({font})</code>.</p>
<code class="sg-code">
  .component { <br>
  &nbsp;&nbsp;font-family: font(primary);<br>
  }
</code>

