
<p class="sg-subtitle"><span>Label</span></p>
<label class="c-form-label" for="">Label</label>



<p class="sg-subtitle"><span>Input</span></p>
<input class="c-form-input" type="text">


<p class="sg-subtitle"><span>Textarea</span></p>
<textarea class="c-form-texarea"></textarea>


<p class="sg-subtitle"><span>Select</span></p>
<select class="c-form-select" name="" id="">
  <option value="">01</option>
  <option value="">02</option>
</select>


<p class="sg-subtitle"><span>Checkbox</span></p>
{% for i in range(1, 4) -%}
  <div class="c-fom-checkbox">
    <input class="c-form-checkbox__input" type="checkbox" id="checkbox_{{ i }}" {% if i == "3"%}disabled{% endif %}>
    <label class="c-form-checkbox__label" for="checkbox_{{ i }}">Mon label {{ i }} {% if i == "3"%}disabled{% endif %}</label>
  </div><br>
{%- endfor %}

<p class="sg-subtitle"><span>Radio</span></p>
{% for i in range(1, 4) -%}
  <div class="c-fom-radio">
    <input class="c-form-radio__input" name="radio" id="radio_{{ i }}" type="radio" {% if i == "3"%}disabled{% endif %} {% if i == "1"%}checked{% endif %}>
    <label class="c-form-radio__label" for="radio_{{ i }}">Mon label {{ i }} {% if i == "3"%}disabled{% endif %}</label>
  </div><br>
{%- endfor %}

<br>







