/*-----------------------------------------------------------------------------------------------------
  [Master Stylesheet]
	by : Francois Leproust
  Version : 1.0

  Projet : 

  CSS structure : ITCSS
  - https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

	Global namespace : BEMIT
    - Guideline : https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/
    Other ressources :
    - http://bradfrost.com/blog/post/css-architecture-for-design-systems/
    - http://getbem.com/naming/
		- https://seesparkbox.com/foundry/bem_by_example

  Accessibility
  	- Tips : https://webaccessibility.guide/
  	- Checklist : https://a11yproject.com/checklist
  	- Tools : https://benrobertson.io/accessibility/tools-for-website-audits
-------------------------------------------------------------------------------------------------------*/

// Settings
@import '01-settings/_breackpoints';
@import '01-settings/_colors';
@import '01-settings/_fonts';
@import '01-settings/_global';


// Tools
@import '02-tools/_mixins';


// Generic
@import '03-generic/_accessibility';
@import '03-generic/_reset';


// Elements
@import '04-elements/_fonts';
@import '04-elements/_form';
@import '04-elements/_page';


// Objects
@import '05-objects/_grid';
@import '05-objects/_sass-inline-svg.scss';
@import '05-objects/_sass-inline-svg-data.scss';

// Helpers



// Components
@import '06-components/_buttons';
@import '06-components/_container';
@import '06-components/_footer';
@import '06-components/_form-basic';
@import '06-components/_form';
@import '06-components/_header';
@import '06-components/_icons';


// Utilities
@import '99-utilities/_utilities';


