
<p class="sg-text">Classes utlitaires pour le layout global.</p>

<h3 class="sg-h3">u-full-height</h3>
<code class="sg-code">
  .u-full-height {<br>
  &nbsp;&nbsp;height: 100%;<br>
  }
</code>

<h3 class="sg-h3">u-full-width</h3>
<code class="sg-code">
  .u-full-width {<br>
  &nbsp;&nbsp;width: 100%;<br>
  }
</code>

<h3 class="sg-h3">u-viewport-height</h3>
<code class="sg-code">
  .u-viewport-height {<br>
  &nbsp;&nbsp;height: 100vh;<br>
  }
</code>

<h3 class="sg-h3">u-viewport-width</h3>
<code class="sg-code">
  .u-viewport-width {<br>
  &nbsp;&nbsp;width: 100vw;<br>
  }
</code>

<h3 class="sg-h3">no-scroll</h3>
<code class="sg-code">
  .no-scroll {<br>
  &nbsp;&nbsp;position: fixed;<br>
  &nbsp;&nbsp;top: 0;<br>
  &nbsp;&nbsp;left: 0;<br>
  &nbsp;&nbsp;width: 100%;<br>
  &nbsp;&nbsp;height: 100%;<br>
  &nbsp;&nbsp;overflow: hidden;<br>
  }
</code>

