/*-----------------------------------------------------------------------------------------------------
    [utilities:clear]
-------------------------------------------------------------------------------------------------------*/
/*
* Clear
*/
.u-clear {
  clear: both;
}

.u-clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
