/*-----------------------------------------------------------------------------------------------------
    [utilities:visibility]
-------------------------------------------------------------------------------------------------------*/

/*
* Visibility
*/
.u-block { display: block!important;}
.u-none {display: none!important;}
.u-inline {display: inline!important;}
.u-inline-block {display: inline-block!important;vertical-align: top!important;}
.u-visible {visibility: visible!important;}
.u-hidden {visibility: hidden!important;}

@each $size , $bp in  (lg, $large),
                      (md, $medium),
                      (sm, $small) {
  @include mq(#{$bp}) {
    .u-block\@#{$size} { display: block!important;}
    .u-none\@#{$size} {display: none!important;}
    .u-inline\@#{$size} {display: inline!important;}
    .u-inline-block\@#{$size} {display: inline-block!important;vertical-align: top!important;}
    .u-visible\@#{$size} {visibility: visible!important;}
    .u-hidden\@#{$size} {visibility: hidden!important;}
  }
}






