/*-----------------------------------------------------------------------------------------------------
  [colors]
-------------------------------------------------------------------------------------------------------*/

/* Application colors */
$primary             : #48466d;
$secondary           : #3d84a8;
$tertiary            : #abedd8;


/* Other colors */
$bg-color            : #FFFFFF;
$border-color        : #dddddd;


/* Typography colors */
$text-color          : #000000;
$text-color-light    : #333333;
$title-color         : #000000;


/* Shades of grey */
$grey-light          : #f1f1f1;
$grey                : #dddddd;
$grey-dark           : #b1b1b1;


/* Alerts colors */
$alert               : #ff2828;
$warning             : #F5CD21;
$info                : #76C9D2;
$success             : #79be12;


