/*-----------------------------------------------------------------------------------------------------
    [fonts]
-------------------------------------------------------------------------------------------------------*/

$arial                : Arial, sans-serif;
$verdana              : Verdana, Geneva, sans-serif;
$georgia              : Georgia, "Times New Roman", serif;

$primary-font         : $arial;
$secondary-font       : $arial;


