:root {
    

    --sg-radius: 4px;

    /* Global */
    --sg-bg: #ffffff;

    --sg-title:#111111;
    --sg-text:#3a3a3a;
    --sg-textLight:#9E9E9E;

    --sg-border: var(--grey);

    --sg-link:#333333;
    --sg-linkHover:#111111;

    --sg-codeBgColor: #efefef;
    --sg-codeColor: #222222;
    
    /* Header */
    --sg-headerBg: #efefef;

    /* Sidebar */
    --sg-sidebarBg: black;


    /* Tree */


    /* Components view */


    /* Documents view */



    

    /* Dracula UI */
    --black: #21222c;
    --blackSecondary: #414558;
    --blackTernary: #a7abbe;
    --blackLight: rgba(33,34,44,0.05);
    --grey: #414558;
    --greySecondary: #626784;
    --greyTernary: #b6b9c9;
    --greyLight: rgba(65,69,88,0.05);
    --white: #f8f8f2;
    --whiteSecondary: #fff;
    --whiteLight: hsla(60,30%,96%,0.05);
    --cyan: #80ffea;
    --cyanSecondary: #ccfff6;
    --cyanLight: rgba(128,255,234,0.05);
    --green: #8aff80;
    --greenSecondary: #d0ffcc;
    --greenLight: rgba(138,255,128,0.05);
    --orange: #ffca80;
    --orangeSecondary: #ffeacc;
    --orangeLight: rgba(255,202,128,0.05);
    --pink: #ff80bf;
    --pinkSecondary: #ffcce6;
    --pinkLight: rgba(255,128,191,0.05);
    --purple: #9580ff;
    --purpleSecondary: #d4ccff;
    --purpleLight: rgba(149,128,255,0.05);
    --red: #ff9580;
    --redSecondary: #ffd4cc;
    --redLight: rgba(255,149,128,0.05);
    --yellow: #ffff80;
    --yellowSecondary: #ffc;

    


    

}

[data-theme="dark"] {


}

/*
* Interface générale
*/

body {
    background-color: var(--sg-bg);
}


/* header */
.Header {
    background-color: var(--sg-headerBg);
    border-bottom: var(--sg-border);
    color: var(--sg-text);
    box-shadow: none;
}


/* Sidebar */
.Frame-panel--sidebar,
.Frame-panel--sg-sidebar {
  background-color: var(--sg-grey);
}


/* Tree */
.Tree-title {
    color: var(--sg-title);
    font-size: 1rem;
}

.Tree-collapse svg {
    fill: var(--sg-link);
}

.Tree-collectionLabel,
.Tree-entityLink {
    color: var(--sg-link);
    &:hover {
        color: var(--sg-linkHover);
        text-decoration: underline;
    }
}


.Tree-collection .Tree-collectionLabel:before {
    mask-image: url('assets/icon-navigation-opened.svg');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    background: none;
    background-color: var(--sg-link);
}

[dir="ltr"] .Tree-collection.is-closed .Tree-collectionLabel::before {
    background: none;
    mask-image: url('assets/icon-navigation-closed-ltr.svg');
    -webkit-mask-size: 100%;
    mask-size: 100%;
    background: none;
    background-color: var(--sg-link);
}



/* Components view */


/* Document view */
.Document {
    h1, h2, h3, h4, h5, h6, p {
        color: var(--sg-text);
    }
    a {
        color: var(--sg-link);
        &:hover {
            color: var(--sg-linkHover);  
        }
    }
    .hljs {
        background-color: var(--sg-codeBgColor);
        color: var(--sg-codeColor);
    }
}

/*
* Utilitaires
*/
.u-sr-only {
    clip: rect(0 0 0 0);
    clip: path(inset 100%);
    height: 1px; 
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}


/*
* Dark / light switch
*/
.sg-themeToggle {
    --toggleWidth: 3rem;
    --toggleHeight: 1.5rem;
    
    margin-left: auto;
    margin-right: 1rem;
    border: transparent;
    background-color: var(--primary);
    color: var(--colorInvert);
    display: block;
    position: relative;

    border-radius: 5rem;
    width: var(--toggleWidth);
    height: var(--toggleHeight);
    background-color: #666;

    &:after {
        content: "☀️";
        font-size: 1rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--toggleHeight);
        height: var(--toggleHeight);
        border-radius: var(--toggleHeight);
        transition: left 250ms;
    }

    &:hover {
        cursor: pointer;
    }
    &:focus-visible {
        outline-offset: 2px;
        outline: 2px dotted var(--outlineColor)
    }

    [data-theme="dark"] & {
        &:after {
            content: "🌙";
            left: calc(var(--toggleWidth) / 2);
        }
    }
}



/*
* Présentation des composants
*/
.sg-body {
    padding: 2rem;
}

.sg-title {
    background-color: var(--sg-grey);
    color: var(--sg-title);
}

.sg-subtitle {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 16px;
    color: var(--sg-title);
    ~ .sg-subtitle {
        margin-top: 2rem;
    }
}


.sg-h1 {
    color: var(--sg-title);
    font-size: 4.8rem;
    font-weight: 400;
    font-family: font(primary);
    margin-bottom: 2rem;
}

.sg-h2 {
    color: var(--sg-title);
    font-size: 3.2rem;
    margin-bottom: 2rem;
    font-family: font(primary);
}

.sg-h3 {
    color: var(--sg-title);
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    font-family: font(primary);
}

.sg-h4 {
    margin: 2rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}

.sg-text {
    color: black;
    margin-bottom: 2rem;
    code {
      background: var(--sg-grey);
      padding: 0.2rem 0.5rem;
      display: inline-block;
      color: black;
      font-size: 1.4rem;
    }
}


.sg-code {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--sg-grey);
    border: 1px solid var(--sg-border);
    padding: 2rem;
    margin-bottom: 4rem;
    display: block;
    font-size: 1.4rem;
    line-height: 160%;
}

.sg-columns {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 4rem;
    gap: 2.4rem;
}

.sg-columns--bordered {
    border: 1px solid var(--sg-border);
    border-radius: 0.4rem;
    padding: 2rem;
  }

/*
* Alert
*/
.sg-alert,
.sg-warning,
.sg-success {
    padding: 1rem;
    border-radius: var(--sg-radius);
    border: 1px solid var(--sg-title);
    background-color: var(--sg-grey);
    display: inline-block;
    margin-bottom: 2rem;
    &::before {
        margin-right: 1rem;
    }
}

.sg-alert {
    color: #DF0021;
    border-color: #DF002140;
    background-color:#DF002110;
    &:before {
        content: "❌";
    }
}

.sg-warning {
    color: #FFA800;
    border-color: #FFA80040;
    background-color: #FFA80010;
    &:before {
        content: "⚠️";
    }
}

.sg-success {
    color: #39A033;
    border-color: #39A03340;
    background-color: #39A03310;
    &:before {
        content: "✅";
    }
}




/*
* list
*/
.sg-list {
    list-style: none;
    margin-bottom: 3rem;
    padding: 0;
    code {
        background: #f5f5f5;
        padding: 0.2rem 0.5rem;
        display: inline-block;
        color: #000000;
        border-radius: $sg-radius;
        font-size: 1.4rem;
    }
}

.sg-list--sg-color {
    display: flex;
    flex-wrap: wrap;
    li {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

.sg-list--sg-border {
    padding-left: 1rem;
    border-left: 4px solid #E9E9E9;
    margin-bottom: 3rem;
    li {
        margin-bottom: 0.4rem;
    }
}


/*
* Color
*/
.sg-color__list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(28rem, 1fr) );
    gap: 1rem;
    padding: 0;
}

.sg-color {
    display: flex;
    align-items: center;
    border: 1px solid var(--sg-border);
    //max-width: 38rem;
}

.sg-color__color {
    width: 10rem;
    height: 10rem;
    margin-right: 1.6rem;
}

.sg-color__name {
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.sg-color__infos {
    padding: 10px;
}

.sg-color__info {
    color: #9E9E9E;
    font-size: 1.2rem;
    margin-bottom: 0;
    span {
        color: #3A3A3A;
    }
}


/*
* Font
*/
.sg-font {
    display: grid;
    grid-template-columns: minmax(23rem, 33rem) 1fr;
    gap: 80px;
    align-items: flex-start;
}

.sg-font__infos {
    border: 1px solid var(--sg-border);
}

.sg-font__letter {
    font-size: 18rem;
    text-align: center;
    border-bottom: 1px solid var(--sg-border);
}

.sg-font__info {
    padding: 1.6rem;
}

.sg-font__name {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.sg-font__weight-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    li {
        background-color: #F4F4F4;
        padding: 0.6rem 1.2rem;
        border-radius: 4rem;
        color: black;
        font-size: 1.2rem;
    }
}

.sg-font__weight {
    background-color: black;
    padding: 0.6rem 1.2rem;
    border-radius: 4rem;
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 1.6rem;
    + p {
        margin-bottom: 3rem;
        font-size: 2.4rem;
    }
}


/*
* Icon
*/
.sg-icons {
    display: grid;
    grid-template-columns: repeat( auto-fit, 12rem );
    gap: 1rem;
}

.sg-icons__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--sg-border);
    border-radius: var(--sg-radius);
    svg {
        margin: 2rem 0;
        width: 4.8rem;
        height: 4.8rem;
    }
    span {
        color: var(--sg-text);
        font-size: 1.2rem;
        padding: 1rem 0;
        display: block;
        width: 100%;
        text-align: center;
        background-color: var(--sg-grey);
    }
}

/*
* Breakpoint
*/

.sg-bp-table {
    border-collapse: collapse;
    border: none;
    margin-bottom: 3.2rem;
    th, td {
        padding: 1rem;
        border: none;
    }
    thead {
        th {
            background-color: var(--sg-grey);
        }
    }
    td {
        border-bottom: 1px solid var(--sg-border);
    }
}

.sg-bp-view {
    display: flex;
    gap: 1rem;
}
.sg-bp-view__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--sg-grey);
    border-radius: 4px;
    padding: 1rem;
    min-height: 10rem;
    font-size: 1.2rem;
    text-align: center;
    code {
        display: block;
        font-size: 1.2rem;
    }
}


