{% extends "styleguide/templates/layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Composants : formulaires" %}
{% set body_class = "sg-body" %}
{% set current_section = "components" %}
{% set current_page = "forms" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
<section id="forms" class="sg-content">
	<h1 class="sg-h1">Formulaires</h1>

  <h3 class="sg-h3">label</h3>
	<div class="sg-columns sg-columns--bordered">
		<label for="" class="c-form-label">Label</label>
	</div>
  <div class="sg-code">
    {% markdown %}
      ```html
        <label for="" class="c-form-label">Label</label>
      ```
    {% endmarkdown %}
  </div>


	<h3 class="sg-h3">Input</h3>
	<div class="sg-columns sg-columns--bordered">
		<input id="" class="c-form-input" type="text" placeholder="placeholder">
	</div>
	<div class="sg-code">
    {% markdown %}
      ```html
      <input id="" class="c-form-input" type="text" placeholder="placeholder">
      ```
    {% endmarkdown %}
  </div>

	<h3 class="sg-h3">Textarea</h3>
	<div class="sg-columns sg-columns--bordered">
		<textarea class="c-form-textarea" name="" id=""></textarea>
	</div>
	<div class="sg-code">
    {% markdown %}
      ```html
      <textarea class="c-form-textarea" name="" id=""></textarea>
      ```
    {% endmarkdown %}
  </div>


	<h3 class="sg-h3">Select</h3>
	<div class="sg-columns sg-columns--bordered">
		<select class="c-form-select" name="" id="">
			<option value="">Option 01</option>
			<option value="">Option 02</option>
			<option value="">Option 03</option>
			<option value="">Option 04</option>
		</select>
	</div>
	<div class="sg-code">
    {% markdown %}
      ```html
      <select class="c-form-select" name="" id="">
        <option value="">Option 01</option>
        <option value="">Option 02</option>
        <option value="">Option 03</option>
        <option value="">Option 04</option>
      </select>
      ```
    {% endmarkdown %}
  </div>


	<h3 class="sg-h3">Radio</h3>
	<p class="sg-text">in progress</p>
	<div class="sg-columns sg-columns--bordered">
		<div class="c-form-radio">
	    <input name="radio" class="c-form-radio__input" type="radio" id="radio_1">
	    <label class="c-form-radio__label" for="radio_1">Radio label</label>
		</div>
		<div class="c-form-radio">
	    <input name="radio" class="c-form-radio__input" type="radio" id="radio_2">
	    <label class="c-form-radio__label" for="radio_2">Radio label</label>
		</div>
		<div class="c-form-radio">
	    <input name="radio" class="c-form-radio__input" type="radio" id="radio_3" disabled="disabled">
	    <label class="c-form-radio__label" for="radio_3">Radio label disabled</label>
		</div>
	</div>
	<div class="sg-code">
    {% markdown %}
      ```html
      <div class="c-form-radio">
        <input name="radio" class="c-form-radio__input" type="radio" id="radio_1">
        <label class="c-form-radio__label" for="radio_1">Radio label</label>
      </div>
      <div class="c-form-radio">
        <input name="radio" class="c-form-radio__input" type="radio" id="radio_2">
        <label class="c-form-radio__label" for="radio_2">Radio label</label>
      </div>
      <div class="c-form-radio">
        <input name="radio" class="c-form-radio__input" type="radio" id="radio_3" disabled="disabled">
        <label class="c-form-radio__label" for="radio_3">Radio label disabled</label>
      </div>
      ```
    {% endmarkdown %}
  </div>


	<h3 class="sg-h3">Checkbox</h3>
	<div class="sg-columns sg-columns--bordered">
		<div class="c-form-checkbox">
	    <input class="c-form-checkbox__input" type="checkbox" id="checkbox_1">
	    <label class="c-form-checkbox__label" for="checkbox_1">Checkbox label</label>
		</div>
		<div class="c-form-checkbox">
	    <input class="c-form-checkbox__input" type="checkbox" id="checkbox_2">
	    <label class="c-form-checkbox__label" for="checkbox_2">Checkbox label</label>
		</div>
		<div class="c-form-checkbox">
	    <input class="c-form-checkbox__input" type="checkbox" id="checkbox_3" disabled>
	    <label class="c-form-checkbox__label" for="checkbox_3">Checkbox label</label>
		</div>
	</div>
	<div class="sg-code">
    {% markdown %}
      ```html
      <div class="c-form-checkbox">
        <input class="c-form-checkbox__input" type="checkbox" id="checkbox_1">
        <label class="c-form-checkbox__label" for="checkbox_1">Checkbox label</label>
      </div>
      <div class="c-form-checkbox">
        <input class="c-form-checkbox__input" type="checkbox" id="checkbox_2">
        <label class="c-form-checkbox__label" for="checkbox_2">Checkbox label</label>
      </div>
      <div class="c-form-checkbox">
        <input class="c-form-checkbox__input" type="checkbox" id="checkbox_3" disabled>
        <label class="c-form-checkbox__label" for="checkbox_3">Checkbox label</label>
      </div>
      ```
    {% endmarkdown %}
  </div>



	<h3 class="sg-h3">Form field</h3>
	<div class="sg-columns sg-columns--bordered">
		<form class="c-form">
			<div class="c-form__field c-form__field--required">
				<label for="email" class="c-form-label">Email <small class="c-required">requis</small></label>
				<input id="email" class="c-form-input" type="email" placeholder="Exemple : duke@nukem.com">
			</div>
		</form>
	</div>
	<div class="sg-code">
    {% markdown %}
      ```html
      <form class="c-form">
        <div class="c-form__field c-form__field--required">
          <label for="email" class="c-form-label">Email <small class="c-required">requis</small></label>
          <input id="email" class="c-form-input" type="email" placeholder="Exemple : duke@nukem.com">
        </div>
      </form>
      ```
    {% endmarkdown %}
  </div>
</section><!-- //END Charte -->

{% endblock %}
<!-- //END page Content -->





