{% extends "styleguide/templates/layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Composants : icônes" %}
{% set body_class = "sg-body" %}
{% set current_section = "components" %}
{% set current_page = "icons" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
<section id="icons" class="sg-content">
  <h1 class="sg-h1">Icônes</h1>

  <p class="sg-text">Accessible SVG Icons with Inline Sprites.</p>
  <div class="sg-columns sg-columns--bordered">
    {% set svg = { id:"menu", title:"Menu", class:"c-icons"} %}
    {% include "templates/components/sprite-svg.html" %}
  </div>
  <div class="sg-code">
    {% markdown %}
      ```html
      {% set svg = { id:"menu", title:"Menu", class:"c-icons"} %}
      {% include "templates/components/sprite-svg.html" %}
      ```
    {% endmarkdown %}
  </div>

  <h3 class="sg-h3">Liste</h3>
  <p class="sg-text">Sprite preview généré par la commande <code>gulp icons</code> : <a target="blank" href="/assets/icons/sprite/sprite.symbol.html">SVG sprite preview</a> </p>

  <div class="sg-columns sg-columns--bordered">
    {% for icon_id, icon in css_icons %}
      {% set svg = { id:icon_id, title:'#'+icon_id, class:""} %}
      {% include "templates/components/sprite-svg.html" %}
    {% endfor %}
  </div>

  <h3 class="sg-h3">Modifcateur de taille</h3>
  <h3 class="sg-h3">Modifcateur de couleur</h3>

</section><!-- //END Charte -->

{% endblock %}
<!-- //END page Content -->







