<p class="sg-success">Classes utilitaires responsives disponiblent : <code>u-{property}{direction}-{size}@{bp}</code></p>

<p class="sg-text">Pour ajouter un espace à un élement il suffit d'y ajouter la classe suivante : <code>u-{property}{direction}-{size}</code>.</p>

<h3 class="sg-h3">Margin ou padding</h3>
<p class="sg-text">Remplacer <code>{property}</code> par les valeurs suivantes : </p>
<ul class="sg-list sg-list--border">
  <li><code>p</code> pour padding </li>
  <li><code>m</code> pour margin </li>
</ul>

<h3 class="sg-h3">Top, right, bottom ou left</h3>
<p class="sg-text">
  Si <code>{direction}</code> n'est pas définie l'espace s'appliquera dans toutes les directions.<br>
  Remplacer <code>{direction}</code> par les valeurs suivantes :
</p>
<ul class="sg-list sg-list--border">
  <li><code>t</code> pour top</li>
  <li><code>r</code> pour right</li>
  <li><code>b</code> pour bottom</li>
  <li><code>l</code> pour left</li>
  <li><code>y</code> pour left & right</li>
  <li><code>x</code> pour top & bottom</li>
</ul>

<h3 class="sg-h3">Tailles disponibles :</h3>
<p class="sg-text">Remplacer <code>{size}</code> par les valeurs disponible : </p>
<ul class="sg-list sg-list--border">
  {% for size in spacing  %}
    <li class="sg-spacing--{{size}}"><span><code>{{size}}</code> :</span></li>
  {% endfor %}
</ul>
<p class="sg-text">Ce qui donne par exemple : <code>u-mb-20</code> = margin-bottom: 2rem;</p>
<div class="sg-columns sg-columns--bordered">
  {% for size in spacing  %}
    <div class="sg-space sg-space--{{size}}"><code>{{size}}</code></div>
  {% endfor %}
</div>


<h2 class="sg-h2">Utilisation en scss :</h2>
<p class="sg-text">Pour ajouter un espace à un élement en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>spacing({size})</code>.</p>
<code class="sg-code">
  .component { <br>
  &nbsp;&nbsp;padding-top: spacing(md);<br>
  }
</code>

