<!doctype html>
<html lang="fr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<title>{{ page_title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ page_desc }}">

		<!-- Load CSS -->
		{% if css_name %}
			<link rel="stylesheet" type="text/css" href="assets/css/{{ css_name }}{% if css_min %}.min{% endif %}.css?v=1">
		{% endif %}

	</head>

	<body class="{{ body_class }}">
		
		<a class="u-show-on-focus" href="#content">Skip to Content</a>

		{% include "templates/components/header.html" %}

		<div id="content" class="" role="main">
			{% block page_content %}{% endblock %}
		</div><!-- //END Main -->

		{% include "templates/components/footer.html" %}

		{% if js_base %}
			<script type="text/javascript" src="assets/js/app{% if js_min %}.min{% endif %}.js?v=1"></script>
			<script type="text/javascript" src="assets/js/vendor{% if js_min %}.min{% endif %}.js?v=1"></script>
		{% endif %}

		{% if js_page %}
			<script type="text/javascript" src="assets/js/{{ js_page }}{% if js_min %}.min{% endif %}.js?v=1"></script>
		{% endif %}

	</body>
</html>
