<!-- layout-index.html -->
{% import '../.nunjucks/globals.html' as globals %}
<!doctype html> 
<html lang="fr">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8"> 
  <title>{{ page_title }} - Index</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Load CSS -->
	<link rel="stylesheet" type="text/css" href="/styleguide/assets/css/styleguide.min.css?v=1">


</head>

<body class="{{ body_class }}">
	
	{% block page_content %}{% endblock %}

</body>
</html>
