	<h3 class="sg-h3">Application colors</h3>
	<div class="sg-columns">
		<div class="sg-c-color primary"><span>primary</span></div>
		<div class="sg-c-color secondary"><span>secondary</span></div>
		<div class="sg-c-color tertiary"><span>tertiary</span></div>
	</div>

	<h3 class="sg-h3">Typography colors</h3>
	<div class="sg-columns">
		<div class="sg-c-color text-color"><span>text-color</span></div>
		<div class="sg-c-color text-color-light"><span>text-color-light</span></div>
		<div class="sg-c-color title-color"><span>title-color</span></div>
	</div>

	<h3 class="sg-h3">Grey</h3>
	<div class="sg-columns">
		<div class="sg-c-color grey-light"><span>grey-light</span></div>
		<div class="sg-c-color grey"><span>grey</span></div>
		<div class="sg-c-color grey-dark"><span>grey-dark</span></div>
	</div>

	<h3 class="sg-h3">Other colors</h3>
	<div class="sg-columns">
		<div class="sg-c-color alert"><span>alert</span></div>
		<div class="sg-c-color warning"><span>warning</span></div>
		<div class="sg-c-color success"><span>success</span></div>
		<div class="sg-c-color info"><span>info</span></div>
	</div>

	<h3 class="sg-h3">Typography</h3>
	<p class="sg-c-primary-font-name"></p>
	<div class="sg-columns centered">
		<p class="u-primary-font">A  À  B  C  Ç  D  E  É  È  Ë  F  G  H  I  J  K  L  M  N  O  Ô  Ö  P  Q  R  S  T  U  V  W  X  Y  Z <br>
		a  à  b  c  ç  d  e  é  è  ê  ë  f  g  h  i  j  k  l  m  n  o  ô  ö  p  q  r  s  t  u  ù  v  w  x  y  z <br>
		0 1 2 3 4 5 6 7 8 9 .  ;  :  !  ?  ‘  “  &  (  [  {  -  _  #  }  ]  )  %  £  €  $  < -  +  /  *  =  ></p>
	</div>

	<p class="sg-c-secondary-font-name"></p>
	<div class="sg-columns centered">
		<p class="u-secondary-font">A  À  B  C  Ç  D  E  É  È  Ë  F  G  H  I  J  K  L  M  N  O  Ô  Ö  P  Q  R  S  T  U  V  W  X  Y  Z <br>
		a  à  b  c  ç  d  e  é  è  ê  ë  f  g  h  i  j  k  l  m  n  o  ô  ö  p  q  r  s  t  u  ù  v  w  x  y  z <br>
		0 1 2 3 4 5 6 7 8 9 .  ;  :  !  ?  ‘  “  &  (  [  {  -  _  #  }  ]  )  %  £  €  $  < -  +  /  *  =  ></p>
	</div>
	<h4 class="sg-h3">Hn</h4>
	<div class="sg-columns centered">
		<h1>H1</h1>
		<h2>H2</h2>
		<h3>H3</h3>
		<h4>H4</h4>
		<h5>H5</h5>
	</div>
	<h4 class="sg-h3">Paragraph</h4>
	<div class="sg-columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos obcaecati necessitatibus nihil harum perspiciatis id cupiditate ducimus voluptate rem aliquid aperiam, soluta blanditiis, eligendi minus dignissimos quidem, placeat sint est.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos obcaecati necessitatibus nihil harum perspiciatis id cupiditate ducimus voluptate rem aliquid aperiam, soluta blanditiis, eligendi minus dignissimos quidem, placeat sint est.</p>
	</div>

	

	

	