{% extends "layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Components" %}
{% set body_class = "sg-body" %}
{% set css_base = "styleguide" %}
{% set css_sub_folder = true %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
	<section id="components" class="sg-content">
		<h1 class="sg-h1">Components</h1>

		<h2 id="buttons" class="sg-h2">Buttons</h2>
		{% include "styleguide/components/buttons.html"  %}
		
		<h2 id="forms" class="sg-h2">Forms</h2>
		{% include "styleguide/components/forms.html"  %}

		<h2 id="icons" class="sg-h2">Icons</h2>
		{% include "styleguide/components/icons.html"  %}

{% endblock %}
<!-- //END page Content -->



	

	

	