<h3 class="sg-h3">Make it human readable, maintainable</h3>
<p class="sg-text">
	Be curious, if you have doubt seek the answer, someone has probably asked the question! And there is no secret you have to read ^^). 
	<br>
	Google have some good starting HTML/CSS guidelines : <a href="https://google.github.io/styleguide/htmlcssguide.html">https://google.github.io/styleguide/htmlcssguide.html</a>.
	<br>
	Alsacreations have also some good guidelines in french : <a href="https://github.com/alsacreations/guidelines">https://github.com/alsacreations/guidelines</a>.
</p>

<h2 class="sg-h2">Html</h2>
<p class="sg-text">
	Mozzilla HTML guidelines <a href="https://developer.mozilla.org/en-US/docs/MDN/Contribute/Guidelines/Code_guidelines/HTML">https://developer.mozilla.org/en-US/docs/MDN/Contribute/Guidelines/Code_guidelines/HTML</a>.
	<br>
	Create semantic and accessible HTML, exemple :
</p>
<p class="sg-text">Do</p>
<code class="sg-code sg-code--do">
	&lt;button type=&quot;button&quot;&gt;My button&lt;/button&gt;
</code>
<p class="sg-text">Don't</p>
<code class="sg-code sg-code--dont">
	&lt;div onclick=&quot;myfunction();&quot; class=&quot;button&quot;&gt;My button&lt;/div&gt;
</code>

<h2 class="sg-h2">CSS</h2>
<p class="sg-text">
	Create a maintainable CSS architecture with <a href="https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/">ITCSS</a> and <a href="https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/">BEMIT</a> naming convention.
	<br>
	Mozzilla CSS guidelines <a href="https://developer.mozilla.org/en-US/docs/MDN/Contribute/Guidelines/Code_guidelines/CSS">https://developer.mozilla.org/en-US/docs/MDN/Contribute/Guidelines/Code_guidelines/CSS</a>. 
</p>
<p class="sg-text">CSS indent :</p>
<code class="sg-code">
	indent_style = tab <br>
	indent_size = 2
</code>
<p class="sg-text">Nesting 3 level MAX and don't abuse of sass @extend</p>
<p class="sg-text">Do</p>
<code class="sg-code sg-code--do">
	.c-media {}<br>
	.c-media__title {}<br>
	.c-media__primary {}
</code>
<p class="sg-text">Don't</p>
<code class="sg-code sg-code--dont">
	.c-media {<br>
		&nbsp;&__title {}<br>
		&nbsp;&--primary {}<br>
	}
</code>

<h2 class="sg-h2">Accessibility</h2>
<p class="sg-text">
	Check some good practice & tips on <a href="https://a11yproject.com/">https://a11yproject.com/</a>.
	<br>
	Never remove :focus on focusable elements, redesgn it :
</p>
<p class="sg-text">Do</p>
<code class="sg-code sg-code--do">
	*:focus {<br>
    &nbsp;outline: 2px dotted red;<br>
  }
</code>
<p class="sg-text">Don't</p>
<code class="sg-code sg-code--dont">
	*:focus {<br>
			&nbsp;outline: 0;<br>
	}
</code>
	
	



	

	

	