	<h3 class="sg-h3">Breackpoints</h3>
	<p class="sg-text">
		<code class="sg-mq--xsmall">$xsmall: </code>, 
		<code class="sg-mq--small">$small: </code>, 
		<code class="sg-mq--medium">$medium: </code>, 
		<code class="sg-mq--large">$large: </code>, 
		<code class="sg-mq--xlarge">$xlarge: </code>
	</p>
	
	<h3 class="sg-h3">Visibility</h3>
	<p class="sg-text">
		Text alignement :
		<code>.u-show</code>,
		<code>.u-hide</code>,
		<code>.u-hidden</code>,
		<code>.u-sr-only</code>
		<code>.u-show-on-focus</code>
	</p>

	<h3 class="sg-h3">Text</h3>
	<p class="sg-text">
		Text alignement :
		<code>.u-text-ellipsis</code>,
		<code>.u-text-left</code>,
		<code>.u-text-right</code>,
		<code>.u-text-center</code>
	</p>
	<p class="sg-text">
		Text color :
		<code>.u-text-color</code>
		<code>.u-text-color-light</code>
		<code>.u-text-primary</code>
		<code>.u-text-secondary</code>
		<code>.u-text-tertiary</code>
		<code>.u-text-grey-light</code>
		<code>.u-text-grey</code>
		<code>.u-text-grey-dark</code>
		<code>.u-text-alert</code>
		<code>.u-text-info</code>
		<code>.u-text-warning</code>
		<code>.u-text-success</code>
	</p>
	<div class="sg-columns sg-columns--bordered">
		<p class="u-text-color">Text color</p>
		<p class="u-text-color-light">Text color light</p>
		<p class="u-text-primary">Primary</p>
		<p class="u-text-secondary">Secondary</p>
		<p class="u-text-tertiary">Tertiary</p>
		<p class="u-text-grey-light">Grey light</p>
		<p class="u-text-grey">Grey</p>
		<p class="u-text-grey-dark">Grey dark</p>
		<p class="u-text-alert">Alert</p>
		<p class="u-text-info">Infos</p>
		<p class="u-text-warning">Warning</p>
		<p class="u-text-success">Success</p>
	</div>


	<h3 class="sg-h3">Fonts</h3>
	<p class="sg-text">
		<code>.u-primary-font</code>,
		<code>.u-secondary-font</code>,
	</p>
	<div class="sg-columns sg-columns--bordered">
		<p class="u-primary-font">Lorem ispum</p>
		<p class="u-secondary-font">Lorem ispum</p>
	</div>

	<h3 class="sg-h3">Background</h3>
	<p class="sg-text">
		Background color :
		<code>.u-bg-primary</code>
		<code>.u-bg-secondary</code>
		<code>.u-bg-tertiary</code>
		<code>.u-bg-grey-light</code>
		<code>.u-bg-grey</code>
		<code>.u-bg-grey-dark</code>
		<code>.u-bg-alert</code>
		<code>.u-bg-info</code>
		<code>.u-bg-warning</code>
		<code>.u-bg-success</code>
	</p>
	<div class="sg-columns sg-columns--bordered">
		<div class="sg-bg u-bg-primary"></div>
		<div class="sg-bg u-bg-secondary"></div>
		<div class="sg-bg u-bg-tertiary"></div>
		<div class="sg-bg u-bg-grey-light"></div>
		<div class="sg-bg u-bg-grey"></div>
		<div class="sg-bg u-bg-grey-dark"></div>
		<div class="sg-bg u-bg-alert"></div>
		<div class="sg-bg u-bg-info"></div>
		<div class="sg-bg u-bg-warning"></div>
		<div class="sg-bg u-bg-success"></div>
	</div>


	<h3 class="sg-h3">Icons</h3>
	<p class="sg-text">TODO</p>
	<div class="sg-columns sg-columns--bordered">
	
	</div>
	
	<h3 class="sg-h3">Spacing</h3>
	<p class="sg-text">TODO</p>



	

	

	