/*-----------------------------------------------------------------------------------------------------
  [component:buttons]
-------------------------------------------------------------------------------------------------------*/
.c-button {
	background: none;
	border: 1px solid transparent;
	padding: 0;
	&:not(disabled) {
  	cursor: pointer;
  }
  
  // Fix les survole en mobile
  @media(hover: hover) and (pointer: fine) {}
}


.c-button--primary {
  background-color: #000;
  color: #FFF;
}