/*-----------------------------------------------------------------------------------------------------
  [component:buttons]
-------------------------------------------------------------------------------------------------------*/
.c-button {
	background: none;
	border: 1px solid transparent;
	padding: 0;

	&:not([disabled]) {
        cursor: pointer;
    }
  
  // Fixe les survoles en mobile
  @media(hover: hover) and (pointer: fine) {
    &:hover:not([disabled]) {}
  }

}

/*
* Variantes
*/
.c-button--primary {
  background-color: var(--primary);
  color: #FFF;
}

.c-button--secondary {
    background-color: var(--secondary);
    color: #FFF;
  }