/*-----------------------------------------------------------------------------------------------------
    [Buttons]
-------------------------------------------------------------------------------------------------------*/

.c-btn {
	background: none;
	border: 1px solid transparent;
	font-size: 1.6rem;
	font-weight: 700;
	padding: $spacing $spacing*2;
	border-radius: $radius;
	font-family: $secondary-font;
	transition: $timing;
	&:not(disabled) {
  	cursor: pointer;
  }
}

/*
* Primary
*/
.c-btn--primary {
	background-color: $primary;
	color: #FFF;
	&:hover {
		color: #FFF;
		background-color: darken($primary, 20%)
	}
	&:active {}
}

/*
* Secondary
*/
.c-btn--secondary {
	background-color: $secondary;
	color: #FFF;
	&:hover {
		color: #FFF;
		background-color: darken($secondary, 20%)
	}
	&:active {}
}


/*
* Tertiary
*/
.c-btn--tertiary {
	background-color: $tertiary;
	color: #000;
	&:hover {
		color: #000;
		background-color: darken($tertiary, 20%)
	}
	&:active {}
}


/*
* Size
*
*/
.c-btn--sm {
	font-size:  1.2rem;
	padding: $spacing/2 $spacing;
}
.c-btn--md {
	font-size:  1.6rem;
	padding: $spacing $spacing*2;
}
.c-btn--lg {
	font-size:  2rem;
	padding: $spacing*2 $spacing*4;
}





