/*-----------------------------------------------------------------------------------------------------
    [container]
-------------------------------------------------------------------------------------------------------*/
.c-container {
  padding: 0 1em;
  max-width: $max-width;
  margin: 0 auto;
}
