{% set zindexs = [
  {name:"below", value:""},
  {name:"default", value:""},
  {name:"above", value:""},
  {name:"absolute", value:""},
  {name:"fixed", value:""},
  {name:"overlay", value:""},
  {name:"popin", value:""},
  {name:"skyrocket", value:""}
]%}

<p class="sg-text">A compléter si necéssaire et afin de garder les z-index organisés</p>

<ul class="sg-list sg-list--border">
  {% for zindex in zindexs  %}
    <li><code class="sg-zindex sg-zindex--{{zindex.name}}"></code></li>
  {% endfor %}
</ul>

<h2 class="sg-h2">Utilisation en scss :</h2>
<p class="sg-text">Pour ajouter un z-index à un élement en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>zIndex({index})</code>.</p>
<code class="sg-code">
  .component { <br>
  &nbsp;&nbsp;z-index: zIndex(overlay);<br>
  }
</code>

