/*-----------------------------------------------------------------------------------------------------
  [component:input]
-------------------------------------------------------------------------------------------------------*/

.c-form-input {
	min-height: 4rem;
	padding: 0 1rem;
	border: 1px solid color(grey-base);
	&:focus {
		border: 1px solid color(grey-dark);
	}
}








