/*-----------------------------------------------------------------------------------------------------
  [component:form-radio]
  Source : https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3;
-------------------------------------------------------------------------------------------------------*/



.c-form-radio {
	position: relative;
}

.c-form-radio__input  {
	opacity: 0;
  position: absolute;
}

.c-form-radio__label  {
	position: relative;
  display: inline-flex;
  padding-left: (radioSize(md) + 1);
  font-size: 1.6rem;
  font-family: font(primary);
  color: color(text);
}


.c-form-radio__label:before,
.c-form-radio__label:after {
  content: "";
  position: absolute;
}


.c-form-radio__label:before{
  height: radioSize(md);
  width: radioSize(md);
  border: 1px solid color(grey-base);
  border-radius: radioSize(md);
  left: 0px;
  top: 0px;
}


.c-form-radio__label:after {
  height: (radioSize(md) - 1);
  width: (radioSize(md) - 1);
  border-radius: radioSize(md);
  left: 0.5rem;
  top: 0.5rem;
}

.c-form-radio__input + .c-form-radio__label:after {
  content: none;
}

.c-form-radio__input:checked + .c-form-radio__label {
  color: color(primary);
}

.c-form-radio__input:checked + .c-form-radio__label:after {
  content: "";
  background-color: color(primary);
}

.c-form-radio__input:checked + .c-form-radio__label:before {
  border-color: color(primary);
}

.c-form-radio__input:focus + .c-form-radio__label::before {
  outline: 3px dotted color(primary);
  outline-offset: 2px;
}


/*
* Disabled
*/
.c-form-radio__input:disabled + .c-form-radio__label {
  opacity: 0.6;
}


