/*-----------------------------------------------------------------------------------------------------
  [component:icons]
-------------------------------------------------------------------------------------------------------*/
/*
* Sprite icons
*/
.c-icon {
	width: iconSize(md);
	height: iconSize(md);
	fill: #000;
}







