/*-----------------------------------------------------------------------------------------------------
  [component:icons]
-------------------------------------------------------------------------------------------------------*/
/*
* Sprite icons
*/
.c-icon {
	width: iconSize(16);
	height: iconSize(16);
	fill: #000;
}







