
<p class="sg-text">Classes disponibles :</p>
<ul class="sg-list sg-list--border">
  <li><code>.u-sr-only</code></li>
  <li><code>.u-show-on-focus</code></li>
</ul>

<h3 class="sg-h3">u-sr-only</h3>
<code class="sg-code">
  .u-sr-only {<br>
  &nbsp;&nbsp;clip: rect(0 0 0 0);<br>
  &nbsp;&nbsp;clip: path(inset 100%);<br>
  &nbsp;&nbsp;height: 1px; <br>
  &nbsp;&nbsp;width: 1px;<br>
  &nbsp;&nbsp;overflow: hidden;<br>
  &nbsp;&nbsp;position: absolute;<br>
  &nbsp;&nbsp;white-space: nowrap;
  }
</code>

<h3 class="sg-h3">u-sr-only</h3>
<code class="sg-code">
  .u-show-on-focus {<br>
  &nbsp;&nbsp;position: absolute;<br>
  &nbsp;&nbsp;top: -100%;<br>
  &nbsp;&nbsp;z-index: 1000;<br>
  &nbsp;&nbsp;&:focus {<br>
    &nbsp;&nbsp;&nbsp;&nbsp;top: 0;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;background-color: #222;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;color: #FFF;<br>
  &nbsp;&nbsp;}
  }
</code>
