/*-----------------------------------------------------------------------------------------------------
  [breackpoints]
-------------------------------------------------------------------------------------------------------*/

$xsmall        : 450px; 
$small         : 768px; 
$medium        : 960px;
$large         : 1200px;
$xlarge        : 1600px;

