<p class="sg-success">Classes utilitaires responsives disponiblent : <code>u-{propriété}@{bp}</code></p>
<h3 class="sg-h3">u-block</h3>
<code class="sg-code">
  .u-block {<br>
  &nbsp;&nbsp;display: block!important;<br>
  }
</code>

<h3 class="sg-h3">u-inline-block </h3>
<code class="sg-code">
  .u-inline-block {<br>
  &nbsp;&nbsp;display: inline-block!important;<br>
  &nbsp;&nbsp;vertical-align: top!important;<br>
  }
</code>

<h3 class="sg-h3">u-inline</h3>
<code class="sg-code">
  .u-inline {<br>
  &nbsp;&nbsp;display: inline!important;<br>
  }
</code>

<h3 class="sg-h3">u-none</h3>
<code class="sg-code">
  .u-none {<br>
  &nbsp;&nbsp;display: none!important;<br>
  }
</code>

