
{% set boxShadows = [
  {name:"md", value:""}
]%}

<p class="sg-text">Pour ajouter une box-shadow à un élement il suffit d'y ajouter la classe suivante : <code>u-box-shadow-{size}.</code></p>

<h3 class="sg-h3">Classes disponibles :</h3>
<p class="sg-text">Remplacer <code>{size}</code> par les tailles suivantes :</p>
<ul class="sg-list sg-list--border">
  {% for boxShadow in boxShadows  %}
    <li><code>{{boxShadow.name}}</code></li>
  {% endfor %}
</ul>

<div class="sg-columns sg-columns--bordered">
  {% for boxShadow in boxShadows  %}
    <span class="sg-box u-box-shadow-{{boxShadow.name}}">u-box-shadow-{{boxShadow.name}}</span>
  {% endfor %}
</div>


<h2 class="sg-h2">Utilisation en scss :</h2>
<p class="sg-text">Pour ajouter une box-shadow à un élement en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>shadow({size})</code>.</p>
<code class="sg-code">
  .component { <br>
    &nbsp;&nbsp;box-shadow: shadow(md);<br>
  }
</code>

