<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ '/css/styleguide.css' | path }}">
  <link media="all" rel="stylesheet" href="{{ '/css/app.css' | path }}">

  <title>Preview Layout</title>
</head>
<body class="sg-body">

  <h1 class="sg-title">{{ _target.component.label  }}</h1>

  <div class="sg-content {% if _target.alias == 'grid' %} sg-grid {% endif %} {% if _target.alias == 'container' %} sg-container {% endif %}">
    {{ yield | safe}}
  </div>

</body>
</html>
