{% import '.nunjucks/globals.html' as globals %}
<!-- layout-styleguide.html -->
<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
  <title>{{ page_title }} - Styleguide</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/styleguide/assets/css/styleguide.min.css?v=1">
	<link rel="stylesheet" type="text/css" href="/styleguide/assets/css/vendor.min.css?v=1">

</head>

<body class="{{ body_class }}">
	<a class="u-show-on-focus" href="#content">Skip to Content</a>

	<section class="sg-sidebar">

		<header class="sg-header">
			<a href="/index.html" class="sg-header__title" title="Aller à l'index">Nom du projet<span>Styleguide</span></a>
			<button id="nav_open" class="sg-nav__btn sg-nav__btn--open" aria-label="Ouvrir le menu">
				<svg role="img" class="c-icon" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				  <path d="M24 6H0V2h24v4zm0 4H0v4h24v-4zm0 8H0v4h24v-4z"/>
				</svg>
			</button>
		</header>

		<nav class="sg-nav" id="nav" role="navigation">
			<button id="nav_close" class="sg-nav__btn sg-nav__btn--close" aria-label="Fermer le menu">
				<svg role="img" class="c-icon" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				  <path d="M23.954 21.03l-9.184-9.095 9.092-9.174L21.03-.046l-9.09 9.179L2.764.045l-2.81 2.81L9.14 11.96.045 21.144l2.81 2.81 9.112-9.192 9.18 9.1z"/>
				</svg>
			</button>

			<ul class="sg-menu">
				<li class="sg-menu__item"><a class="sg-menu__link" href="/styleguide/index.html">Bonne pratique</a></li>
				<li class="sg-menu__item">
					<button type="button" class="sg-menu__link sg-menu__button {% if current_section == 'brand' %}sg-menu__button--active{% endif %}" aria-expanded="{% if current_section == 'brand' %}true{% else %}false{% endif %}"><span class="sg-menu__button-text">Design</span> <span class="sg-menu__button-icon">{% if current_section == 'brand' %}-{% else %}+{% endif %}</span></button>
					<ul class="sg-submenu">
						{% set brands = [
							["colors", "Couleurs"],
							["typography", "Typographie"]
						] %}
						{% for brand_id, brand_name  in brands %}
							<li class="sg-submenu__item"><a class="sg-submenu__link {% if current_page == brand_id %}sg-submenu__link--active{% endif %}" href="/styleguide/brand/{{brand_id}}.html">{{brand_name}}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li class="sg-menu__item">
					<button type="button" class="sg-menu__link sg-menu__button {% if current_section == 'components' %}sg-menu__button--active{% endif %}" aria-expanded="{% if current_section == 'components' %}true{% else %}false{% endif %}"><span class="sg-menu__button-text">Composants</span> <span class="sg-menu__button-icon">{% if current_section == 'components' %}-{% else %}+{% endif %}</span></button>
					<ul class="sg-submenu">
						{% set components = [
							["buttons", "Buttons"],
							["forms", "Forms"],
							["icons", "Icônes"]
						] %}
						{% for component_id, component_name  in components %}
							<li class="sg-submenu__item"><a class="sg-submenu__link {% if current_page == component_id %}sg-submenu__link--active{% endif %}" href="/styleguide/components/{{component_id}}.html">{{component_name}}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li class="sg-menu__item">
					<button type="button" class="sg-menu__link sg-menu__button {% if current_section == 'objects' %}sg-menu__button--active{% endif %}" aria-expanded="{% if current_section == 'objects' %}true{% else %}false{% endif %}"><span class="sg-menu__button-text">Objets</span> <span class="sg-menu__button-icon">{% if current_section == 'objects' %}-{% else %}+{% endif %}</span></button>
					<ul class="sg-submenu">
						{% set objects = [
							["grid", "Grid"]
						] %}
						{% for object_id, object_name in objects %}
							<li class="sg-submenu__item"><a class="sg-submenu__link {% if current_page == object_id %}sg-submenu__link--active{% endif %}" href="/styleguide/objects/{{object_id}}.html">{{object_name}}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% if globals.utilities %}
				<li class="sg-menu__item">
					<button type="button" class="sg-menu__link sg-menu__button {% if current_section == 'utilities' %}sg-menu__button--active{% endif %}" aria-expanded="{% if current_section == 'utilities' %}true{% else %}false{% endif %}"><span class="sg-menu__button-text">Utilitaires</span> <span class="sg-menu__button-icon">{% if current_section == 'utilities' %}-{% else %}+{% endif %}</span></button>
					<ul class="sg-submenu">
						{% set utilities = [
							["accessibility", "Accessibility"],
							["box-shadow", "Box-shadow"],
							["breakpoints", "Breakpoints"],
							["clear", "Clear"],
							["color", "Color"],
							["debug", "Debug"],
							["flexbox", "Flexbox"],
							["font", "Font"],
							["layout", "Layout"],
							["mixins", "Mixins"],
							["radius", "Radius"],
							["spacing", "Spacing"],
							["text", "Text"],
							["visibility", "Display / Visibility"],
							["z-index", "Z-index"]
						] %}
						{% for utility_id, utility_name  in utilities %}
							<li class="sg-submenu__item"><a class="sg-submenu__link {% if current_page == utility_id %}sg-submenu__link--active{% endif %}" href="/styleguide/utilities/{{utility_id}}.html">{{utility_name}}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}
			</ul>
		</nav><!-- //END Navigation -->
	</section>
	<!-- //END Sidebar -->

	<div id="content" class="sg-main" role="main">
		{% block page_content %}{% endblock %}
	</div><!-- //END Main -->


	<script type="text/javascript" src="/styleguide/assets/js/vendor.min.js?v=1"></script>
	<script type="text/javascript" src="/styleguide/assets/js/app.min.js?v=1"></script>

</body>
</html>
