<p class="sg-subtitle">Fluide</p>
<div class="o-row">
  <div class="o-col"><div>1</div></div>
  <div class="o-col"><div>1</div></div>
</div>


<p class="sg-subtitle">Colonne fixe</p>
<div class="o-row">
  <div class="o-col--4"><div>4</div></div>
  <div class="o-col--8"><div>8</div></div>
</div>



<p class="sg-subtitle">Offset</p>
<div class="o-row">
  <div class="o-col--offset-3 o-col--9"><div>9 + offset 3</div></div>
</div>


<p class="sg-subtitle">Responsive</p>
<div class="o-row">
  <div class="o-col--5 o-col--4@lg o-col--2@md o-col--12@sm">
    <div>
      <span class="u-none@lg">5</span>
      <span class="u-none u-block@lg u-none@md">4@lg</span>
      <span class="u-none u-block@md">2@md</span>
      <span class="u-none u-block@sm">12@sm</span>
    </div>
  </div>
  <div class="o-col--7 o-col--8@lg o-col--5@md o-col--offset-5@md o-col--12@sm o-col--offset-0@sm">
    <div>
      <span class="u-none@lg">7</span>
      <span class="u-none u-block@lg u-none@md">8@lg</span>
      <span class="u-none u-block@md">5@md + offset-5@md</span>
      <span class="u-none u-block@sm">12@sm + offset-0@sm</span>
    </div>
  </div>
</div>


