/*-----------------------------------------------------------------------------------------------------
    [icons]
-------------------------------------------------------------------------------------------------------*/
/*
* Sprite icons
*/
.c-icons {
	width: $icon-size;
	height: $icon-size;
	transition: $timing;
}







