/*-----------------------------------------------------------------------------------------------------
    [icons]
-------------------------------------------------------------------------------------------------------*/
/*
* Sprite icons
*/
.c-icons {
	width: $icon-size*4;
	height: $icon-size*4;
	transition: $timing;
	fill: #000;
}







