	<h3 class="sg-h3">Main buttons</h3>
	<p class="sg-text">
		Work with <code>&lt;a&gt;</code> and  <code>&lt;button&gt;</code> tags and don't forget to add the button type="". <br>
		class : <code>.c-btn--primary</code>, <code>.c-btn--secondary</code>, <code>.c-btn--tertiary</code>
	</p>
	<div class="sg-columns sg-columns--bordered">
		<button class="c-btn c-btn--primary">Primary action</button>
		<a href="#" class="c-btn c-btn--secondary">Secondary action</a>
		<button class="c-btn c-btn--tertiary">Tertiary action</button>
	</div>
	<code class="sg-code">
		&lt;button class=&quot;c-btn c-btn--primary&quot;&gt;Primary action&lt;/button&gt; <br>
		&lt;a class=&quot;c-btn c-btn--secondary&quot;&gt;Secondary action&lt;/a&gt; <br>
		&lt;button class=&quot;c-btn c-btn--tertiary&quot;&gt;Tertiary action&lt;/button&gt; <br>
	</code>
	<h3 class="sg-h3">Sizes</h3>
	<p class="sg-text"><code>.c-btn--sm</code>, <code>.c-btn--lg</code></p>
	<div class="sg-columns sg-columns--bordered">
		<button class="c-btn c-btn--primary c-btn--sm">Primary action small</button>
		<a class="c-btn c-btn--primary">Primary action</a>
		<button class="c-btn c-btn--primary c-btn--lg">Secondary action large</button>
	</div>
	<code class="sg-code">
		&lt;button class=&quot;c-btn c-btn--primary c-btn--sm&quot;&gt;Primary action small&lt;/button&gt; <br>
		&lt;a class=&quot;c-btn c-btn--primary&quot;&gt;Primary action&lt;/a&gt; <br>
		&lt;button class=&quot;c-btn c-btn--primary c-btn--lg&quot;&gt;Primary action large&lt;/button&gt; <br>
	</code>


	Button with icon accessibility
	https://twitter.com/lucalanca/status/1176807097448706048?s=20



	

	

	