	
	<h3 class="sg-h3">Input</h3>
	<div class="sg-columns sg-columns--bordered">
		<input class="m-form__input" type="text" placeholder="Texte">
	</div>
	<code class="sg-code">
		&lt;input class=&quot;m-form__input&quot; type=&quot;text&quot; placeholder=&quot;Texte&quot;&gt;
	</code>

	<h3 class="sg-h3">Select</h3>
	<div class="sg-columns sg-columns--bordered">
		<select class="m-form__select c-select" name="" id="">
			<option value="">Option 01</option>
			<option value="">Option 02</option>
			<option value="">Option 03</option>
			<option value="">Option 04</option>
		</select>
	</div>
	<code class="sg-code">
		&lt;select class=&quot;m-form__select c-select&quot; name=&quot;&quot; id=&quot;&quot;&gt; <br>
			&nbsp;&nbsp;&lt;option value=&quot;&quot;&gt;Option 01&lt;/option&gt; <br>
			&nbsp;&nbsp;&lt;option value=&quot;&quot;&gt;Option 02&lt;/option&gt; <br>
			&nbsp;&nbsp;&lt;option value=&quot;&quot;&gt;Option 03&lt;/option&gt; <br>
			&nbsp;&nbsp;&lt;option value=&quot;&quot;&gt;Option 04&lt;/option&gt; <br>
		&lt;/select&gt;
	</code>


	<h3 class="sg-h3">Radio</h3>
	<p class="sg-text">in progress</p>
	<div class="sg-columns sg-columns--bordered">
		<div class="m-form__checkbox c-radio">
	    <input name="radio" class="c-radio__input" type="radio" id="radio_1">
	    <label class="c-radio__label" for="radio_1">Radio label</label>
		</div>
		<div class="m-form__checkbox c-radio">
	    <input name="radio" class="c-radio__input" type="radio" id="radio_2">
	    <label class="c-radio__label" for="radio_2">Radio label</label>
		</div>
		<div class="m-form__checkbox c-radio">
	    <input name="radio" class="c-radio__input" type="radio" id="radio_3" disabled="disabled">
	    <label class="c-radio__label" for="radio_3">Radio label disabled</label>
		</div>
	</div>
	<code class="sg-code">
		
	</code>


	<h3 class="sg-h3">Checkbox</h3>
	<div class="sg-columns sg-columns--bordered">
		<div class="m-form__checkbox c-checkbox">
	    <input class="c-checkbox__input" type="checkbox" id="checkbox_1">
	    <label class="c-checkbox__label" for="checkbox_1">Checkbox label</label>
		</div>

		<div class="m-form__checkbox c-checkbox">
	    <input class="c-checkbox__input" type="checkbox" id="checkbox_2">
	    <label class="c-checkbox__label" for="checkbox_2">Checkbox label</label>
		</div>
	</div>
	<code class="sg-code">
		
	</code>

	<h3 class="sg-h3">Field</h3>
	<div class="sg-columns sg-columns--bordered">
		<div class="m-form__field">
			<label class="m-form__label" for="email">Email</label>
			<input id="email" class="m-form__input" type="text" placeholder="Mon email">
		</div>
	</div>
	<code class="sg-code">
		&lt;div class=&quot;m-form__field&quot;&gt; <br>
			&nbsp;&nbsp;&lt;label class=&quot;m-form__label&quot; for=&quot;email&quot;&gt;Email&lt;/label&gt;<br>
			&nbsp;&nbsp;&lt;input id=&quot;email&quot; class=&quot;m-form__input&quot; type=&quot;text&quot; placeholder=&quot;Mon email&quot;&gt;<br>
		&lt;/div&gt;
	</code>

	<h3 class="sg-h3">Newsletter</h3>
	<div class="sg-columns sg-columns--bordered">
		<div class="m-form__field m-form__field--newsletter">
			<label class="m-form__label u-sr-only" for="newsletter_email">Mon adresse email</label>
			<input id="newsletter_email" class="m-form__input" type="text" placeholder="Mon adresse email">
			<button type="submit" class="m-form__submit c-btn c-btn--primary c-btn--sm">M'inscrire</button>
		</div>
	</div>
	<code class="sg-code">
		&lt;div class=&quot;m-form__field form__field--newsletter&quot;&gt; <br>
			&nbsp;&nbsp;&lt;label class=&quot;form__label u-sr-only&quot; for=&quot;newsletter_email&quot;&gt;Mon adresse email&lt;/label&gt; <br>
			&nbsp;&nbsp;&lt;input id=&quot;newsletter_email&quot; class=&quot;m-form__input&quot; type=&quot;text&quot; placeholder=&quot;Mon adresse email&quot;&gt; <br>
			&nbsp;&nbsp;&lt;button type=&quot;submit&quot; class=&quot;m-form__submit c-btn c-btn--primary c-btn--sm&quot;&gt;M&#039;inscrire&lt;/button&gt; <br>
		&lt;/div&gt;
	</code>
	


	

	