<!-- index.html -->
{% extends "components/_templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "page d'exemple" %}
{% set body_class = "" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}


<h1>page d'exemple</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sed ad commodi debitis expedita nobis cum mollitia, doloribus modi quidem provident dolore maiores totam nostrum eius eaque similique est voluptatum.</p>

<button type="button" class="c-button c-button--primary">Mon bouton</button>

<img src="{{ '/images/loader.svg' | path }}" alt="" >

{% set products = [
  {name:"Tomate", price:"1,20€", new:false},
  {name:"Potiron", price:"2,50€", new:false},
  {name:"Carotte", price:"0,60€", new:true}, 
  {name:"Pomme de terre", price:"1,80€", new:false}
]%}
<ul>
{% for product in products  %}
  {% include "components/_templates/components/demo-item.html" %}
{% endfor %}
</ul>
{% endblock %}

<!-- //END page Content -->
