/*-----------------------------------------------------------------------------------------------------
    [utilities:layout]
-------------------------------------------------------------------------------------------------------*/

.u-full-height {
  height: 100%;
}

.u-full-width {
  width: 100%;
}

.u-viewport-height {
  height: 100vh;
}

.u-viewport-width {
  width: 100vw;
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


@each $bp , $bp_value in $breakpoints {
  @include mq(#{$bp_value}) {
    @each $radius_name , $radius_value in $radius {
      .u-full-height\@#{$bp} {
        height: 100%;
      }

      .u-full-width\@#{$bp} {
        width: 100%;
      }

      .u-viewport-height\@#{$bp} {
        height: 100vh;
      }

      .u-viewport-width\@#{$bp} {
        width: 100vw;
      }
    }
  }
}






