/*-----------------------------------------------------------------------------------------------------
    [utilities:accessibility]
-------------------------------------------------------------------------------------------------------*/

/*
* Accessibility
*/
// Visible for screen reader
.u-sr-only {
  clip: rect(0 0 0 0);
  clip: path(inset 100%);
  height: 1px; 
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

//Show only on focus
.u-show-on-focus {
  position: absolute;
  top: -100%;
  z-index: 1000;
  &:focus {
    top: 0;
    background-color: #222;
    color: #FFF;
  }
}

.u-visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

@each $bp , $bp_value in  (xlg, $xlarge),
                          (lg, $large),
                          (md, $medium),
                          (sm, $small),
                          (xs, $xsmall) {
  @include mq(#{$bp_value}) {
    .u-sr-only\@#{$bp} {
      clip: rect(0 0 0 0);
      clip: path(inset 100%);
      height: 1px; 
      width: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
    }

    .u-show-on-focus\@#{$bp} {
      position: absolute;
      top: -100%;
      z-index: 1000;
      &:focus {
        top: 0;
        background-color: #222;
        color: #FFF;
      }
    }
    .u-visually-hidden\@#{$bp} { 
      position: absolute !important;
      height: 1px; 
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap; /* added line */
    }
  }
}






