/*-----------------------------------------------------------------------------------------------------
    [utilities:text]
-------------------------------------------------------------------------------------------------------*/

.u-text-ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 
.u-text-left {text-align: left; } 
.u-text-right {text-align: right; } 
.u-text-center {text-align: center; } 
.u-primary-font {font-family: $primary-font; } 
.u-secondary-font {font-family: $secondary-font; }

@each $bp , $bp_value in  (xlg, $xlarge),
                          (lg, $large),
                          (md, $medium),
                          (sm, $small),
                          (xs, $xsmall) {
  @include mq(#{$bp_value}) {
  	.u-text-ellipsis\@#{$bp}  {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 
		.u-text-left\@#{$bp}  {text-align: left; } 
		.u-text-right\@#{$bp}  {text-align: right; } 
		.u-text-center\@#{$bp}  {text-align: center; } 
		.u-primary-font\@#{$bp}  {font-family: $primary-font; } 
		.u-secondary-font\@#{$bp}  {font-family: $secondary-font; }
  }
}


