{% set colors = [
  {name:"primary", value:""}
]%}

{% set bgcolors = [
  {name:"primary", value:""}
]%}

<h2 class="sg-h2">Couleur de texte</h2>
<p class="sg-text">
  Pour ajouter une couleur à un élement il suffit d'y ajouter la classe suivante : <code>u-color-{color}</code>.
</p>

<h3 class="sg-h3">Couleurs disponibles :</h3>
<p class="sg-text">Remplacer <code>{color}</code> par les couleurs disponibles :</p>

<ul class="sg-list sg-list--border sg-list--bp">
  {% for color in colors  %}
    <li><code>u-color-{{color.name}}</code></li>
  {% endfor %}
</ul>

<h3 class="sg-h3">Démo :</h3>
<div class="sg-columns sg-columns--bordered">
  <p class="u-color-primary">u-color-primary</p>
</div>

<h2 class="sg-h2">Couleur de fond</h2>
<p class="sg-text">Pour ajouter une couleur de fond à un élement il suffit d'y ajouter la classe suivante : <code>u-bgcolor-{color}</code>.</p>

<h3 class="sg-h3">Couleurs disponibles :</h3>
<ul class="sg-list sg-list--border sg-list--bp">
  {% for bgcolor in bgcolors  %}
    <li><code>u-color-{{bgcolor.name}}</code></li>
  {% endfor %}
</ul>

<h3 class="sg-h3">Démo :</h3>
<div class="sg-columns sg-columns--bordered">
  {% for bgcolor in bgcolors  %}
    <div class="sg-box u-bgcolor-{{bgcolor.name}}"><span class="u-color-white">u-bgcolor-{{bgcolor.name}}</span></div>
  {% endfor %}
</div>


<h2 class="sg-h2">Utilisation en scss :</h2>
<p class="sg-text">Pour ajouter une couleur à un élement en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>color({color})</code>.</p>
<code class="sg-code">
  .component { <br>
  &nbsp;&nbsp;color: color(primary);<br>
  }
</code>

