<p class="sg-text">Classes disponibles :</p>

<h3 class="sg-h3">u-text-left</h3>
<code class="sg-code">
  .u-text-left {<br>
  &nbsp;&nbsp;text-align: left;<br> 
  } 
</code>

<h3 class="sg-h3">u-text-right</h3>
<code class="sg-code">
  .u-text-right {<br>
  &nbsp;&nbsp;text-align: right;<br> 
  } 
</code>

<h3 class="sg-h3">u-text-center</h3>
<code class="sg-code">
  .u-text-center {<br>
  &nbsp;&nbsp;text-align: center;<br> 
  } 
</code>

<h3 class="sg-h3">u-text-underline</h3>
<code class="sg-code">
  .u-text-underline {<br>
  &nbsp;&nbsp;text-decoration: underline;<br> 
  } 
</code>

<h3 class="sg-h3">u-text-decoration-none</h3>
<code class="sg-code">
  .u-text-decoration-none {<br>
  &nbsp;&nbsp;text-decoration: none;<br> 
  } 
</code>

<h3 class="sg-h3">u-text-uppercase</h3>
<code class="sg-code">
  .u-text-uppercase {<br>
  &nbsp;&nbsp;text-transform: uppercase;<br> 
  } 
</code>

<h3 class="sg-h3">u-text-ellipsis</h3>
<code class="sg-code">
  .u-text-ellipsis {<br>
  &nbsp;&nbsp;overflow: hidden; <br>
  &nbsp;&nbsp;text-overflow: ellipsis; <br>
  &nbsp;&nbsp;white-space: nowrap; <br>
  } 
</code>

