/*-----------------------------------------------------------------------------------------------------
   [component:container]
-------------------------------------------------------------------------------------------------------*/
.c-container {
  padding: 0 1em;
  max-width: layout(max-width);
  margin: 0 auto;
}
