/*-----------------------------------------------------------------------------------------------------
    [generic:accessibility]
-------------------------------------------------------------------------------------------------------*/
/*
* Focus style for accessibility
*/
:focus {
  outline: 1px dotted #000;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:focus-visible {
  outline: 1px dotted #000;
}
