{% extends "styleguide/templates/layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Utilitaires : color" %}
{% set body_class = "sg-body" %}
{% set current_section = "utilities" %}
{% set current_page = "color" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
<section id="color" class="sg-content">
	<h1 class="sg-h1">Color</h1>

  <h2 class="sg-h2">Couleur de texte</h2>
	<p class="sg-text">Pour ajouter une couleur à un élement il suffit d'y ajouter la classe suivante : <code>u-color-{color}</code>.</p>

	<h3 class="sg-h3">Couleurs disponibles :</h3>
	<p class="sg-text">Remplacer <code>{color}</code> par les couleurs disponibles dans le <a href="/styleguide/brand/colors.html">guide des couleurs</a>.</p>

	<h3 class="sg-h3">Démo :</h3>
	<div class="sg-columns sg-columns--bordered">
		<p class="u-color-primary">u-color-primary</p>
	</div>
  <div class="sg-code">
    {% markdown %}
      ```html
        <p class="u-color-primary">u-color-primary</p>
      ```
    {% endmarkdown %}
  </div>


	<h2 class="sg-h2">Couleur de fond</h2>
	<p class="sg-text">Pour ajouter une couleur de fond à un élement il suffit d'y ajouter la classe suivante : <code>u-bgcolor-{color}</code>.</p>

	<h3 class="sg-h3">Couleurs disponibles :</h3>
	<p class="sg-text">Remplacer <code>{color}</code> par les couleurs disponibles dans le <a href="/?path=/story/styleguide-couleurs--couleurs">guide des couleurs</a>.</p>

	<h3 class="sg-h3">Démo :</h3>
	<div class="sg-columns sg-columns--bordered">
		<div class="u-p-sm u-bgcolor-primary"><span class="u-color-white">u-bgcolor-primary</span></div>
	</div>
  <div class="sg-code">
    {% markdown %}
      ```html
        <div class="u-p-sm u-bgcolor-primary"><span class="u-color-white">u-bgcolor-primary</span></div>
      ```
    {% endmarkdown %}
  </div>

	<h2 class="sg-h2">Utilisation en scss :</h2>
	<p class="sg-text">Pour ajouter une couleur à un élement en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>color({color})</code>.</p>
  <div class="sg-code">
    {% markdown %}
      ```css
      .component {
        color: color(primary);
      }
      ```
    {% endmarkdown %}
  </div>


</section>

{% endblock %}
<!-- //END page Content -->





