{% extends "styleguide/templates/layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Utilitaires : flexbox" %}
{% set body_class = "sg-body" %}
{% set current_section = "utilities" %}
{% set current_page = "flexbox" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
<section id="flexbox" class="sg-content">
	<h1 class="sg-h1">Flexbox</h1>

	<h3 class="sg-h3">Classes disponibles :</h3>
  <div class="sg-code">
    {% markdown %}
      ```css
      .u-flex {display: flex;}
      .u-inline-flex {display: inline-flex }
      .u-flex-nowrap {flex-wrap: nowrap }
      .u-flex-wrap {flex-wrap: wrap }
      .u-flex-wrap-reverse {flex-wrap: wrap-reverse }
      .u-flex-row {flex-direction: row }
      .u-flex-row-reverse {flex-direction: row-reverse }
      .u-flex-column {flex-direction: column }
      .u-flex-column-reverse {flex-direction: column-reverse }
      .u-flex-justify-start {justify-content: flex-start }
      .u-flex-justify-end {justify-content: flex-end }
      .u-flex-justify-center {justify-content: center }
      .u-flex-justify-between {justify-content: space-between }
      .u-flex-justify-around {justify-content: space-around }
      .u-flex-align-start {align-items: flex-start }
      .u-flex-align-end {align-items: flex-end }
      .u-flex-align-center {align-items: center }
      .u-flex-align-baseline {align-items: baseline }
      .u-flex-align-stretch {align-items: stretch }
      .u-flex-self-start {align-self: flex-start }
      .u-flex-self-end {align-self: flex-end }
      .u-flex-self-center {align-self: center }
      .u-flex-self-baseline {align-self: baseline }
      .u-flex-self-stretch {align-self: stretch }
      .u-flex-item-fluid {flex: 1 }
      .u-flex-item-auto {flex: auto }
      .u-flex-item-initial {flex: initial }
      .u-flex-item-none {flex: none }
      .u-flex-item-first {order: -1 }
      .u-flex-item-medium {order: 0 }
      .u-flex-item-last {order: 1 }
      .u-flex-shrink-none {flex-shrink: 0 }
      .u-flex-grow {flex-grow: 1 }
      ```
    {% endmarkdown %}
  </div>


</section>

{% endblock %}
<!-- //END page Content -->





