{% extends "styleguide/templates/layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Utilitaires : font" %}
{% set body_class = "sg-body" %}
{% set current_section = "utilities" %}
{% set current_page = "font" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
<section id="font" class="sg-content">
	<h1 class="sg-h1">Font</h1>

  <p class="sg-text">Les fonts disponibles sont référencées dans le <a href="/styleguide/brand/typography.html">guide des typographies</a></p>

	<h2 class="sg-h2">font-family</h2>
	<p class="sg-text">
		Pour utiliser une <code>font-family</code> sur un élement il suffit d'y ajouter la classe suivante : <code>u-font-{font}</code>.
	</p>

	<h3 class="sg-h3">Font disponibles :</h3>
	<p class="sg-text">Remplacer <code>{font}</code> par les valeurs suivantes : </p>
	<ul class="sg-list sg-list--border">
		{% for font_name, font_val in css_font_families %}
			<li><code>{{ font_name }}</code> = {{ font_val}}</li>
		{% endfor %}
	</ul>

	<h3 class="sg-h3">Exemple :</h3>
	<div class="sg-columns sg-columns--bordered">
		{% for font_name, font_val in css_font_families %}
			<p class="u-font-{{ font_name }}">Hello {{ font_val}}</p>
		{% endfor %}
	</div>
  <div class="sg-code">
    {% markdown %}
      ```html
        {% for font_name, font_val in css_font_families %}<p class="u-font-{{ font_name }}">Hello {{ font_val}}</p>
        {% endfor %}
      ```
    {% endmarkdown %}
  </div>

	<h2 class="sg-h2">font-size</h2>
	<p class="sg-text">
		Pour régler la <code>font-size</code> sur un élement il suffit d'y ajouter la classe suivante : <code>u-font-{size}</code>. <br>
		Remplacer <code>{size}</code> Les valeurs disponibles :
	</p>
	<ul class="sg-list sg-list--border">
    {% for font_size_name, font_size_val in css_font_sizes %}
			<li><code>{{ font_size_name}}</code> = {{ font_size_val}}</li>
		{% endfor %}
	</ul>
	<h3 class="sg-h3">Exemple :</h3>
	<div class="sg-columns sg-columns--bordered">
    {% for font_size_name, font_size_val in css_font_sizes %}
      <p class="u-font-{{ font_size_name}}">Hello lorem ipsum ({{ font_size_val}})</p>
		{% endfor %}
	</div>
  <div class="sg-code">
    {% markdown %}
      ```html
      {% for font_size_name, font_size_val in css_font_sizes %}<p class="u-font-{{ font_size_name}}">Hello lorem ipsum ({{ font_size_val}})</p>
		  {% endfor %}
      ```
    {% endmarkdown %}
  </div>


	<h2 class="sg-h2">font-weight</h2>
	<p class="sg-text">
		Pour régler la <code>font-size</code> sur un élement il suffit d'y ajouter la classe suivante : <code>u-font-{weight}</code>. <br>
		Remplacer <code>{weight}</code> Les valeurs disponibles :
	</p>

  <ul class="sg-list sg-list--border">
    {% for font_weight_name, font_weight_val in css_font_weight %}
      <li><code>{{ font_weight_name}}</code> = {{ font_weight_val}}</li>
    {% endfor %}
  </ul>

	<div class="sg-columns sg-columns--bordered">
    {% for font_weight_name, font_weight_val in css_font_weight %}
      <p class="u-font-{{ font_weight_name}}">Hello lorem ipsum ({{ font_weight_val}})</p>
    {% endfor %}
	</div>
  <div class="sg-code">
    {% markdown %}
      ```html
      {% for font_weight_name, font_weight_val in css_font_weight %}<p class="u-font-{{ font_weight_name}}">Hello lorem ipsum ({{ font_weight_val}})</p>
      {% endfor %}
      ```
    {% endmarkdown %}
  </div>

	<h2 class="sg-h2">Utilisation en scss :</h2>
	<p class="sg-text">Pour ajouter une <code>font-family</code>, <code>font-size</code> et une <code>font-weight</code> à un élement en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>font({font})</code>.</p>
  <div class="sg-code">
    {% markdown %}
      ```css
      .component {
        font-family: font(primary);
      }
      .component {
        font-size: fontSize(12);
      }
      .component {
        font-weight: fontWeight(400);
      }
      ```
    {% endmarkdown %}
  </div>


</section>

{% endblock %}
<!-- //END page Content -->





