{% extends "styleguide/templates/layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Utilitaires : mixins" %}
{% set body_class = "sg-body" %}
{% set current_section = "utilities" %}
{% set current_page = "mixins" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
<section id="mixins" class="sg-content">
	<h1 class="sg-h1">Mixins</h1>

  <p class="sg-text">A utiliser en <code>scss</code>.</p>

	<h2 class="sg-h2">@include mq()</h2>
	<h3 class="sg-h3">A quoi ça sert ?</h3>
	<p class="sg-text">Gestion du responsive via <code>@media</code> en css.</p>

	<h3 class="sg-h3">Comment l'utiliser ?</h3>
	<p class="sg-text"><code>@include mq(MAX, MIN) {...}</code></p>
	<ul class="sg-text">
		<li><code>@include mq(50rem)</code> = <code>@media (max-width: 50rem)</code></li>
		<li><code>@include mq(0, 50rem)</code> = <code>@media (min-width: 50rem)</code></li>
		<li><code>@include mq(50rem, 32rem)</code> = <code>@media (min-width: 32rem) and (max-width: 50rem)</code></li>
	</ul>

	<h3 class="sg-h3">Exemple</h3>
  <div class="sg-code">
    {% markdown %}
      ```css
      .component {
        max-width: 5rem;
        @include mq(50rem){
          max-width: 2rem;
        }
      }
      ```
    {% endmarkdown %}
  </div>

	<h3 class="sg-h3">L'utiliser avec la fonction bp({size})</h3>
	<p class="sg-text">par exemple : <code>@include mq(bp(sm))</code> = <code>@media (max-width: 768px)</code> <br>Liste des <a href="/styleguide/utilities/breakpoints.html">breakpoints disponbiles</a>.</p>
  <div class="sg-code">
    {% markdown %}
      ```css
      .component {
        max-width: 5rem;
        @include mq(bp(sm)) {
            max-width: 2rem;
        }
      }
      ```
    {% endmarkdown %}
  </div>

	<h2 class="sg-h2">@include ie()</h2>
	<p class="sg-text">
		Pour ajouter une propriété css juste pour <code>IE11 & IE10</code> il suffit d'utiliser le mixin suivant : <code>ie()</code>.
	</p>
  <div class="sg-code">
    {% markdown %}
      ```css
      .component {
        box-shadow: shadow(sm);
        @include ie(){
          box-shadow: none;
          border-bottom:1px solid #cccccc;
        }
      }
      ```
    {% endmarkdown %}
  </div>

	<h2 class="sg-h2">@include edge()</h2>
	<p class="sg-text">Pour ajouter une propriété css juste pour <code>Edge</code> il suffit d'utiliser le mixin suivant : <code>edge()</code>.</p>
  <div class="sg-code">
    {% markdown %}
      ```css
      .component {
        box-shadow: shadow(sm);
        @include edge(){
          box-shadow: none;
          border-bottom:1px solid #cccccc;
        }
      }
      ```
    {% endmarkdown %}
  </div>


</section><!-- //END Charte -->

{% endblock %}
<!-- //END page Content -->





