{% extends "styleguide/templates/layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Utilitaires : text" %}
{% set body_class = "sg-body" %}
{% set current_section = "utilities" %}
{% set current_page = "text" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
<section id="text" class="sg-content">
	<h1 class="sg-h1">Text</h1>

  <h3 class="sg-h3">Classes disponibles :</h3>
  <div class="sg-code">
    {% markdown %}
      ```css
      .u-text-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .u-text-left {
        text-align: left;
      }

      .u-text-right {
        text-align: right;
      }

      .u-text-center {
        text-align: center;
      }
      ```
    {% endmarkdown %}
  </div>

  <h3 class="sg-h3">Exemple</h3>
  <div class="sg-columns sg-columns--bordered">
    <p class="u-mb-sm u-text-left">Hello world lorem ispsum dolor sit amet</p>
    <p class="u-mb-sm u-text-right">Hello world lorem ispsum dolor sit amet</p>
    <p class="u-mb-sm u-text-center">Hello world lorem ispsum dolor sit amet</p>
    <p class="u-mb-sm u-text-ellipsis" style="max-width:12rem">Hello world lorem ispsum dolor sit amet</p>
  </div>

  <div class="sg-code">
    {% markdown %}
      ```html
        <p class="u-mb-sm u-text-left">Hello world lorem ispsum dolor sit amet</p>
        <p class="u-mb-sm u-text-right">Hello world lorem ispsum dolor sit amet</p>
        <p class="u-mb-sm u-text-center">Hello world lorem ispsum dolor sit amet</p>
        <p class="u-mb-sm u-text-ellipsis" style="max-width:12rem">Hello world lorem ispsum dolor sit amet</p>
      ```
    {% endmarkdown %}
  </div>




</section><!-- //END Charte -->

{% endblock %}
<!-- //END page Content -->





