{% extends "styleguide/templates/layout-styleguide.html" %}

<!-- //START page variables -->
{% set page_title = "Utilitaires : z-index" %}
{% set body_class = "sg-body" %}
{% set current_section = "utilities" %}
{% set current_page = "z-index" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
<section id="z-index" class="sg-content">
	<h1 class="sg-h1">Z-index</h1>

  <h3 class="sg-h3">Z-index disponible :</h3>
	<ul class="sg-list">
		{% for zindex_name, zindex_value in css_zindex %}
			<li><code>{{zindex_name}}</code> : {{zindex_value}}</li>
		{% endfor %}
	</ul>

	<h2 class="sg-h2">Utilisation en scss :</h2>
	<p class="sg-text">
	 Pour ajouter un z-index à un élement en <code>scss</code> il suffit d'utiliser la fonction suivante : <code>zIndex({index})</code>. <br>
	 Remplacer <code>{index}</code> par les valeurs disponible ci-dessus.
	</p>
	<h3 class="sg-h3">Exemple :</h3>
  <div class="sg-code">
    {% markdown %}
      ```css
      .component {
        z-index: zIndex(overlay);
      }
      ```
    {% endmarkdown %}
  </div>


</section><!-- //END Charte -->

{% endblock %}
<!-- //END page Content -->





