// Variables formulaires

$checkboxSize: (
  "md"    : 2rem
);

@function checkboxSize($key) {
  @if map-has-key($checkboxSize, $key) {
    @return map-get($checkboxSize, $key);
  }

  @warn "Unknown `#{$key}` in $checkboxSize.";
  @return null;
}

// Récupération de ces variables pour les exploiter dans le styleguide
// https://www.npmjs.com/package/node-sass-export
$v: export('src/styleguide/data/checkbox-size.json', $checkboxSize);



$radioSize: (
  "md"    : 2rem
);

@function radioSize($key) {
  @if map-has-key($radioSize, $key) {
    @return map-get($radioSize, $key);
  }

  @warn "Unknown `#{$key}` in $radioSize.";
  @return null;
}

// Récupération de ces variables pour les exploiter dans le styleguide
// https://www.npmjs.com/package/node-sass-export
$v: export('src/styleguide/data/radio-size.json', $radioSize);
