// Variables liées aux font.
$arial                : Arial, sans-serif;
$verdana              : Verdana, Geneva, sans-serif;
$georgia              : Georgia, "Times New Roman", serif;

$font-families: (
  "primary"   : $arial,
  "secondary" : $verdana
);

@function font($key) {
  @if map-has-key($font-families, $key) {
    @return map-get($font-families, $key);
  }
  @warn "Unknown `#{$key}` in $font-families.";
  @return null;
}

// Récupération de ces variables pour les exploiter dans le styleguide
// https://www.npmjs.com/package/node-sass-export
$v: export('src/styleguide/data/font-families.json', $font-families);


$font-sizes: (
  "12"   : 1.2rem,
  "14"   : 1.4rem,
  "16"   : 1.6rem,
  "18"   : 1.8rem,
  "22"   : 2.2rem,
  "24"   : 2.4rem
);

@function fontSize($key) {
  @if map-has-key($font-sizes, $key) {
    @return map-get($font-sizes, $key);
  }

  @warn "Unknown `#{$key}` in $font-size.";
  @return null;
}


// Récupération de ces variables pour les exploiter dans le styleguide
// https://www.npmjs.com/package/node-sass-export
$v: export('src/styleguide/data/font-sizes.json', $font-sizes);



$font-weight: (
  "400"  : 400,
  "700"  : 700
);


// Récupération de ces variables pour les exploiter dans le styleguide
// https://www.npmjs.com/package/node-sass-export
$v: export('src/styleguide/data/font-weight.json', $font-weight);
