
	<nav class="m-nav m-nav--header" role="navigation">
		<ul class="m-nav__list">
			<li class="m-nav__item"><a class="m-nav__link" href="#">Présentation </a></li>
			<li class="m-nav__item"><a class="m-nav__link" href="#">Comment participer ?</a></li>
			<li class="m-nav__item"><a class="m-nav__link" href="#">Ressources</a></li>
			<li class="m-nav__item"><a class="m-nav__link" href="#">Keep It Clean Plan</a></li>
			<li class="m-nav__item"><a class="m-nav__link" href="#">Mon Compte</a></li>
		</ul>
	</nav><!-- //END Header navigation -->