/*-----------------------------------------------------------------------------------------------------
    [page]
-------------------------------------------------------------------------------------------------------*/
/* 
*::selection { 
  color: $text-color;
  background : $primary; 
}
*/

html {
  scroll-behavior: smooth;
}

body { 
  font-family: $primary-font;
  color: $text-color;
  background: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* heading */
h1, h2, h3, h4, h5, h6 { 
  font-family: $secondary-font;
  color: $title-color; 
}


/* link */
a {
  color: $text-color;
  //transition: $timing;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
  &:active {}
  &:focus {}
  &:visited {}
}

a[class] {
  text-decoration: none;
}


/* list */
ul,
ol { 
  margin: 0;
  li {
    margin: 0;
  }
}


/* img */
img {
  display: inline-block;
  max-width: 100%;
  font-style: italic;
}


/* blockquote */
blockquote {
  color: $text-color;
  font-style: italic;
  font-family: $georgia;
  font-size: 18px;
  line-height: 170%;
  p {
    &:before {
      content: " “ ";
      color: $grey-light;
    }
    &:after {
      content: " ” ";
      color: $grey-light;
    }
  }
}


/* hr */
hr {
  background: $border-color;
  border: none;
  height: 1px;
}


/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  th {
    border: 1px solid gray;
    padding: 0.2em;
    text-align: left;
  }
  td {
    border: 1px solid gray;
    padding: 0.2em;
  }
}









