/*-----------------------------------------------------------------------------------------------------
  [elements:page]
-------------------------------------------------------------------------------------------------------*/

html {
  //scroll-behavior: smooth;
}

body {
  font-family: font(primary);
  color: color(text);
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* heading */
h1, h2, h3, h4, h5, h6 {
  font-family: font(secondary);
  color: color(title);
}

p {
  line-height: 1.3;
}

/* link */
a {
  color: color(text);
  //transition: $timing;
  &:hover {
    color: color(primary);
    text-decoration: underline;
  }
  &:active {}
  &:focus {}
  &:visited {}
}

/* list */
ul,
ol {
  margin: 0;
  li {
    margin: 0;
  }
}


/* img */
img {
  display: inline-block;
  max-width: 100%;
  font-style: italic;
}


/* blockquote */
blockquote {
  color: color(text-light);
  font-style: italic;
  font-family: $georgia;
  font-size: 2.8rem;
  //line-height: 170%;
  position: relative;
  padding: 2rem 0 0 8rem;
  @include mq(bp(sm)) {
    font-size: 1.8rem;
    padding: 0 0 0 4rem;
  }
  p {
    &:before {
      content: " « ";
      color: color(primary);
      font-size: 11rem;
      position: absolute;
      left: 0;
      top: 0;
      line-height: 30%;
      @include mq(bp(sm)) {
        font-size: 6rem;
      }
    }
    &:after {
      content: " » ";
      color: color(primary);
      font-size: 6rem;
      line-height: 20%;
      position: relative;
      top: 0.6rem;
      @include mq(bp(sm)) {
        font-size: 3rem;
      }
    }
  }
  cite {
    font-weight: 700;
    color: color(secondary);
    display: block;
    font-size: 1.7rem;
    font-family: font(primary);
    font-style: normal;
    position: relative;
    padding-left: 5rem;
    @include mq(bp(sm)) {
      font-size: 1.6rem;
    }
    span {
      color: color(text-light);
    }
    &:before {
      content: "";
      display: block;
      width: 4rem;
      height: 2px;
      background-color: color(primary);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


/* hr */
hr {
  background: color(border);
  border: none;
  height: 1px;
}


/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  th {
    border: 1px solid gray;
    padding: 0.2em;
    text-align: left;
  }
  td {
    border: 1px solid gray;
    padding: 0.2em;
  }
}









