<!-- index.html -->
{% extends "templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Exemple" %}
{% set page_desc = "" %}
{% set body_class = "u-bgcolor-bg" %}
{% set css_min = true %}
{% set js_min = true %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}

	<div id="content" class="" role="main">
		
    <div class="c-container c-container--md u-bgcolor-white u-p-md u-my-lg">

      <h2>Icônes</h2>

      <br><br>
      <h3>Sprite SVG</h3>
      <svg class="c-icon">
        <use xlink:href="assets/icons/sprite/icons.svg#cross" />
      </svg>
      <svg class="c-icon">
        <use xlink:href="assets/icons/sprite/icons.svg#menu" />
      </svg>

      
      <br><br>
      <h3>Include SVG</h3>
      {% set svg = {width:"50", height:"50"} %}
      {% include 'assets/icons/cross.svg' %}

      <br><br><br>
      <h2>Nunjucks</h2>
      <p>Documentation : <a href="https://mozilla.github.io/nunjucks/fr/templating.html">https://mozilla.github.io/nunjucks/fr/templating.html</a></p>
      
      <br><br>
      <h3>Boucle for simple</h3>
      <p><code>for i in range(0, 5)</code></p>
      {% for i in range(0, 5) -%}
        {{ i }},
      {%- endfor %}

      <br><br>
      <h3>Boucle for avec data</h3>
      {% set items = [
        {name:"Tomate", price:"1,20€"},
        {name:"Potiron", price:"2,50€"},
        {name:"Carotte", price:"0,60€"}, 
        {name:"Pomme de terre", price:"1,80€"}
      ]%}
      <ul>
      {% for item in items  %}
        <li>{{item.name}} - {{item.price}}</li>
      {% endfor %}
      </ul>

      <br><br>
      <h3>Boucle for avec data et template include</h3>
      {% set products = [
        {name:"Tomate", price:"1,20€", new:false},
        {name:"Potiron", price:"2,50€", new:false},
        {name:"Carotte", price:"0,60€", new:true}, 
        {name:"Pomme de terre", price:"1,80€", new:false}
      ]%}
      <ul>
      {% for product in products  %}
        {% include "templates/components/demo-item.html" %}
      {% endfor %}
      </ul>

      <br><br>
      <h3>Data</h3>
      <p>Il est possible d'utiliser des variables réutilisables dans tous les templates. <br>
      Ces datas sont à renseigner dans <code>config.nunjucks.js</code></p>
      <p>Exemple : <br>
      <code>{% raw %}{{ project_name }}{% endraw %} = {{ project_name }}</code><br>
      <code>{% raw %}{{ img_path }}{% endraw %} = {{ img_path }}</code> 
      </p>

      

      <br><br>
      <h2>Composant</h2>
      <a href="#" class="c-button c-button--primary">Bouton primaire</a>
      <a href="#" class="c-button c-button--secondary">Bouton secondaire</a>
      <br><br>
      <input class="c-form-input" type="text">
      <br>
      <select class="c-form-select" name="" id="">
        <option value="">01</option>
        <option value="">02</option>
      </select>

      <div class="c-fom-radio">
        <input class="c-form-radio__input" id="radio" type="radio">
        <label class="c-form-radio__label" for="radio">Mon label</label>
      </div>

      <div class="c-fom-checkbox">
        <input class="c-form-checkbox__input" type="checkbox" id="checkbox">
        <label class="c-form-checkbox__label" for="checkbox">Mon label</label>
      </div>

      <br><br>
      <h2>Grid</h2>
      <style>
        .o-col,
        [class*="o-col--"] {
          border:1px solid #efefef;
        }
      </style>

      <div class="o-row">
        <div class="o-col">1</div>
        <div class="o-col">1</div>
      </div>
      <br>
      <div class="o-row">
        <div class="o-col--8">8</div>
        <div class="o-col--4">4</div>
      </div>
      <br>
      <div class="o-row">
        <div class="o-col--offset-6 o-col--2">2</div>
        <div class="o-col--4">4</div>
        <div class="o-col--offset-2 o-col--4">4</div>
        <div class="o-col--offset-2 o-col--4">4</div>
      </div>
      <br>
      <div class="o-row">
        <div class="o-col--8 o-col--4@md o-col--6@sm o-col--12@xs">8</div>
        <div class="o-col--4 o-col--8@md o-col--6@sm o-col--12@xs">4</div>
      </div>
      <br>
      <div class="o-row">
        <div class="o-col--offset-6 o-col--offset-8@lg o-col--offset-3@sm o-col--offset-0@xs o-col--6 o-col--4@lg o-col--9@sm o-col--12@xs">8</div>
      </div>

    </div>

  

  </div><!--//END main -->
	
{% endblock %}
<!-- //END page Content -->
