{% extends "templates/layout.html" %}
<!-- //START page variables -->
{% set page_title = "Accueil" %}
{% set body_class = "" %}
{% set css_name = "app" %}
{% set js_base = true %}
{% set js_page= "" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}


	<div class="c-container">
		<p class="u-mb-sm">Hello</p>
		<a href="#" class="c-btn">Test</a>
		<a href="#" class="c-btn c-btn--primary">Primary button</a>
		<img src="assets/images/favicon_master.png" alt="test">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga atque non molestias tempora accusamus officia beatae illum nihil, nobis quia repellat consequuntur cum voluptatem quae magnam iste, libero doloremque! Aperiam.</p>
	</div>


{% endblock %}

