/*-----------------------------------------------------------------------------------------------------
    [global]
-------------------------------------------------------------------------------------------------------*/

/* 
* Layout 
*/
$max-width     : 1400px;
$radius        : 0.4rem;
$spacing       : 0.8rem;
$icon-size     : 0.8rem;


/*
* Animation
*/
$timing        : 100ms;


