/*-----------------------------------------------------------------------------------------------------
  [utilities:spacing]
-------------------------------------------------------------------------------------------------------*/

@each $size , $size_value in $spacing {
  .u-mt-#{$size} { margin-top: $size_value; }
  .u-mr-#{$size} { margin-right: $size_value; }
  .u-mb-#{$size} { margin-bottom: $size_value; }
  .u-ml-#{$size} { margin-left: $size_value; }
  .u-mx-#{$size} { margin-left: $size_value; margin-right: $size_value; }
  .u-my-#{$size} { margin-top: $size_value; margin-bottom: $size_value; }
  .u-m-#{$size}  { margin: $size_value; }

  .u-pt-#{$size} { padding-top: $size_value; }
  .u-pr-#{$size} { padding-right: $size_value; }
  .u-pb-#{$size} { padding-bottom: $size_value; }
  .u-pl-#{$size} { padding-left: $size_value; }
  .u-px-#{$size} { padding-left: $size_value; padding-right: $size_value; }
  .u-py-#{$size} { padding-top: $size_value; padding-bottom: $size_value; }
  .u-p-#{$size}  { padding: $size_value; }
}


@each $bp , $bp_value in $breakpoints {
  @include mq(#{$bp_value}) {
    @each $size , $size_value in $spacing {
      .u-mt-#{$size}\@#{$bp} { margin-top: $size_value; }
      .u-mr-#{$size}\@#{$bp} { margin-right: $size_value; }
      .u-mb-#{$size}\@#{$bp} { margin-bottom: $size_value; }
      .u-ml-#{$size}\@#{$bp} { margin-left: $size_value; }
      .u-mx-#{$size}\@#{$bp} { margin-left: $size_value; margin-right: $size_value; }
      .u-my-#{$size}\@#{$bp} { margin-top: $size_value; margin-bottom: $size_value; }
      .u-m-#{$size}\@#{$bp} { margin: $size_value; }

      .u-pt-#{$size}\@#{$bp} { padding-top: $size_value; }
      .u-pr-#{$size}\@#{$bp} { padding-right: $size_value; }
      .u-pb-#{$size}\@#{$bp} { padding-bottom: $size_value; }
      .u-pl-#{$size}\@#{$bp} { padding-left: $size_value; }
      .u-px-#{$size}\@#{$bp} { padding-left: $size_value; padding-right: $size_value; }
      .u-py-#{$size}\@#{$bp} { padding-top: $size_value; padding-bottom: $size_value; }
      .u-p-#{$size}\@#{$bp} { padding: $size_value; }
    }
  }
  
}






