/*-----------------------------------------------------------------------------------------------------
  [utilities:text]
-------------------------------------------------------------------------------------------------------*/

.u-text-ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 
.u-text-left {text-align: left; } 
.u-text-right {text-align: right; } 
.u-text-center {text-align: center; } 
.u-text-uppercase {text-transform: uppercase; } 
.u-text-underline { text-decoration: underline;}
.u-text-decoration-none { text-decoration: none;}

// Classes responsive
// @each $bp , $bp_value in $breakpoints {
//   @include mq(#{$bp_value}) {
//   	.u-text-ellipsis\@#{$bp}  {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 
// 		.u-text-left\@#{$bp}  {text-align: left; } 
// 		.u-text-right\@#{$bp}  {text-align: right; } 
// 		.u-text-center\@#{$bp}  {text-align: center; } 
//     .u-text-uppercase\@#{$bp} {text-transform: uppercase; } 
// 		.u-text-decoration-none\@#{$bp} { text-decoration: none; }
//   }
// }

