.mb-10 {
  margin-bottom: 2.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mt-12 {
  margin-top: 3rem
}

.mb-8 {
  margin-bottom: 2rem
}

.block {
  display: block
}

.table {
  display: table
}

.font-primary {
  font-family: Arial, sans-serif
}

.text-xl {
  font-size: 2rem
}

@media (min-width: 768px) {
  .md\:font-secondary {
    font-family: Verdana, Geneva, sans-serif
  }
}



