/*-----------------------------------------------------------------------------------------------------
  [utilities:visibility]
-------------------------------------------------------------------------------------------------------*/

/*
* Visibility
*/

// .u-block { display: block!important;}
// .u-none {display: none!important;}
// .u-inline {display: inline!important;}
// .u-inline-block {display: inline-block!important;vertical-align: top!important;}


// @each $bp , $bp_value in $breakpoints {
//   @include mq(#{$bp_value}) {
//     .u-block\@#{$bp} { display: block!important;}
//     .u-none\@#{$bp} {display: none!important;}
//     .u-inline\@#{$bp} {display: inline!important;}
//     .u-inline-block\@#{$bp} {display: inline-block!important;vertical-align: top!important;}
//     .u-flex\@#{$bp} { display: flex!important;}
//     .u-inline-flex\@#{$bp} { display: inline-flex!important;}
//   }
// }






