/*-----------------------------------------------------------------------------------------------------
    [grid]
-------------------------------------------------------------------------------------------------------*/
$grid_col : 12;
$gutter-y : 2.4rem;
$gutter-x : 2.4rem;

.m-grid {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: calc(#{$gutter-y} * -1);
  margin-left: calc(#{$gutter-x} * -1);
  @include mq($small) {
  	margin-left: 0;
  }
}

.m-grid--custom {
  margin-bottom: calc(#{$gutter-y} * -1);
  margin-left: calc(#{$gutter-x} * -1);
}

.m-grid__col {
  padding-bottom: 2.4rem;
  padding-left: 2.4rem;
  @include mq($small) {
  	padding-left: 0;
  }
}


@for $i from 1 through $grid_col  {
	.m-grid--#{$i} > .m-grid__col {
		width: calc(100% / #{$i});
	}

	.m-grid__col--#{$i} {
		width: calc((100% / #{$grid_col}) * #{$i});
	}
}


/*
* m-grid__col level
*/

@for $i from 1 through $grid_col  {
	@include mq($large) {
		.m-grid--#{$i}\@lg > .m-grid__col {
			width: calc(100% / #{$i});
		}
	}

	@include mq($medium) {
		.m-grid--#{$i}\@md > .m-grid__col {
			width: calc(100% / #{$i});
		}
	}

	@include mq($small) {
		.m-grid--#{$i}\@sm > .m-grid__col {
			width: calc(100% / #{$i});
		}
	}
}






