<h3 class="sg-h3">Classes disponibles :</h3>
<ul class="sg-list sg-list--border">
  <li><code>u-flex</code></li>
  <li><code>u-inline-flex</code></li>

  <li><code>u-flex-nowrap</code></li>
  <li><code>u-flex-wrap</code></li>
  <li><code>u-flex-wrap-reverse</code></li>

  <li><code>u-flex-row</code></li>
  <li><code>u-flex-row-reverse</code></li>

  <li><code>u-flex-column</code></li>
  <li><code>u-flex-column-reverse</code></li>

  <li><code>u-flex-justify-start</code></li>
  <li><code>u-flex-justify-end</code></li>
  <li><code>u-flex-justify-center</code></li>
  <li><code>u-flex-justify-between</code></li>
  <li><code>u-flex-justify-around</code></li>

  <li><code>u-flex-align-start</code></li>
  <li><code>u-flex-align-end</code></li>
  <li><code>u-flex-align-center</code></li>

  <li><code>u-flex-self-start</code></li>
  <li><code>u-flex-self-end</code></li>
  <li><code>u-flex-self-center</code></li>
  
  <li><code>u-flex-shrink-none</code></li>
  <li><code>u-flex-grow</code></li>
</ul>

